.job-anchor {
	text-decoration: none;
}

.job-table {
	background-color: #6FAE41;
	height: 1px;
}

.job-table:hover {
	background-color: grey;
}

.job-wrap {
	height: 100%;
	color: black;
}

.job-wrap:hover {
	text-decoration: none;
}