//CSS that applies to both the jobs and jobsDesc views


//CSS that only applies to jobs view

.job-wrap, .job-content, .job-content div, .logo {
	padding: 0;
}

.job-anchor {
	text-decoration: none;
}

.job-wrap {
	background-color: rgba(111, 175, 65, 0.4);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 3px;
	max-height: 85px; 
}

.job-wrap:nth-child(even) {
	background-color: rgba(111, 175, 65, 0.3);
}

.job-wrap:hover {
	background-color: rgba(111, 175, 65, 0.5);
}

.job-content {
	color: black;
}

.logo {
	text-align: center;
}

.logo img{
	max-height: 85px;
	width: auto;
}

.content-top, .content-bottom {
	margin: 5px 0 0 0;
	padding: 0;
}

//CSS that only applies to the jobsDesc views

.icon-list, .icon-list li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.icon-list li {
  margin: 1em;
  margin-left: 3em;
}

.li-location li:before, .li-type li:before, .li-date li:before {
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: #6FAE41;
}

.li-location li:before {
  content: '\f041'; /* fa-map-marker */
}

.li-type li:before {
  content: '\f017'; /* fa-clock-o */
}

.li-date li:before {
  content: '\f133'; /* fa-calendar-o */
}

@media (max-width: 600px) {
	.job-wrap {
		max-height: 500px;
	}
	.job-content span{
		width: 100%;	
	}

}