extends layout

block content
	section.section
		.container
			.section-header
				h4 Download the <span class="highlight">BeaconSage App</span> using the links below
			.row
				div.col-md-12
					h6 
						a(href="https://itunes.apple.com/us/app/beaconsage/id1028104284?mt=8") Download BeaconSage for iOS
			.row
				div.col-md-12
					h6
						a(href="https://play.google.com/store/apps/details?id=beaconsage.net.aristotle&hl=en") Download BeaconSage for Android
