extends layout

block content

	section.section.section-hero.align-center
		.section-header
			h1 Attendee Information
	
	section.fullwidth-section.section-content
		.container
			.row
				.col-md-12
					.article
						h3.text-center We're finalizing all of the details. 
						br
						br
						br
						h4.text-center Check back soon!

//--
	extends layout

	block content
		section.section.align-left
			.container
				h1 Attendee Information
			
				br

				h4 Special Events
				hr
				h5 Wednesday Evening, Registration Mixer 🍷
				p Platinum sponsor <b><a href="https://firstorion.com/" target="_blank">First Orion</a></b> is hosting a <b>Registration Mixer </b> at their office HQ on Wendesday, October 3rd from 7:00 PM to 9:00 PM!
				p Check in early and enjoy complimentary beer, wine, and snacks at <b>First Orion's Headquarters</b>, located in the Museum Center building. 
				p First Orion is located on the second floor. The address is <b><a href="https://www.google.com/maps/place/First+Orion+Corp/@34.7474537,-92.2667186,17z/data=!3m1!4b1!4m5!3m4!1s0x87d2bb78cb70552d:0x7e0a7a1965683f32!8m2!3d34.7474493!4d-92.2645299" target="_blank">500 President Clinton Ave #215, Little Rock, AR 72201</a></b>.
				br
				
				h5 Thursday Evening, Attendee Party &nbsp;🎉
				p Platinum sponsor <b><a href="https://www.abcfinancial.com/" target="_blank">ABC Financial</a></b> will host an <b>Attendee Party</b> on Thursday, October 4th from 6:00 PM to 9:00 PM! 
				p Join us  for free beer, wine, and food at <b>Brewski's Pub and Grub</b>. We'll have music, raffle prizes, and plenty of great entertainment.
				p Brewski's Pub is a short walk from the Convention Center. The address is <b><a href="https://www.google.com/maps?ll=34.745555,-92.270475&z=14&t=m&hl=en&gl=US&mapclient=embed&q=315+Main+St+%23100+Little+Rock,+AR+72201" target="_blank">315 Main Street Suite 100, Little Rock, AR 72201</a></b>.
				br
				
				h4 Logistics
				hr
				h5 Where is Little Rock Tech Fest Located
				p Little Rock Tech Fest 2018 will be held in the heart of downtown Little Rock at the <b>Statehouse Convention Center.</b> 
				p The address is <b><a href="https://www.google.com/maps/place/Statehouse+Convention+Center/@34.7487128,-92.2728966,17z/data=!3m1!4b1!4m5!3m4!1s0x87d2bb7c7d42bb63:0x1700cdf88779977b!8m2!3d34.7487084!4d-92.2707079" target="_blank">101 E Markham St, Little Rock, AR 72201</a></b>.

				br
					
				h5 Registration
				p The registration table opens at 7:00 AM both days and will generally stay open throughout the event.
				br
				
				h5 Parking
				// Discount availability TBD.
				p Bring your Main Street Parking Deck ticket stub to the event and we'll validate it to get you $1 parking. 
				p To find the main street garage, look for the yellow parking icon on the map below.
				br
					
				h5 Where to Stay 
				// Discount availability TBD.
				p There are many hotels surrounding the location of the convention.<br />The list below are the hotels located near the conference:
				ul.styled.disc
					li Little Rock Marriott
					li Capital Hotel
					li DoubleTree Little Rock
					li Courtyard Little Rock
					li Homewood Suites by Hilton Little Rock Downtown
				br

				h5 Where to Eat
				ul.styled.disc
					li A breakfast selection of bagels, donuts, and coffee is provided both days.
					li Lunch will be catered Thursday and Friday during the convention. 
					li Food and drinks will be provided Thursday night at the Attendee Party.
				br
					
				h5 Where to Drink
				p Downtown Little Rock offers many local breweries for you to enjoy. Check out the map below to see where they are located.
				br
				
				h5 What else to do in Little Rock
				p Little Rock has a lot of activities. Check out the maps below for more things to do!
				br
					
				h4 Little Rock Tech Fest Guide
				hr
				div.map-res
					iframe(src='https://www.google.com/maps/d/u/0/embed?mid=1Yty6xaLnziSCkesYd8r1npCNXQk', width='640', height='480')

