extends layout

block content
	section#main
		section.section
			div.container
				div.col-sm-3
					h1.error-code 404
				div.col-sm-9.align-left
					h3 The requested resource has been moved or never existed