extends layout

block content
	section#main
		section.section
			div.container
				div.col-sm-3
					h1.error-code 500
				div.col-sm-9.align-left
					h3 We're sorry, but there was an error on the server