extends layout

block content
	#team
		.section
			.section-header
				h2 The Team
				h4 Meet the team behind Little Rock Tech Fest. Feel free to chat us up with questions, concerns and ideas.
				h4 Want to help plan the premeier developer conference in Arkansas? Drop us a line and we'll put you to work!
			.section-content
				.container
						each member in team
							.item-container
								img(src="#{member.imgUrl}", width=200, height=200)
								h4 #{member.name}
								h4
									if member.twitter 
										a(href="http://twitter.com/#{member.twitter}") @#{member.twitter}
									else
										span &nbsp;