extends sponsors

block sponsor-content
	.container
		.row.page-title.col-md-12
			h3 We are looking for a few good sponsors
		.row
			#become-sponsor.col-sm-4
				a(class="btn btn-primary btn-sm" href="mailto:sponsors@lrdnug.org?Subject=TechFest")
					i.fa.fa-check.fa-2x
					span Become a Sponsor!
				p For more information about how to become a sponsor, email us at sponsors@lrdnug.org
			.col-sm-8.page-content
				p.
					Want a chance to market your brand to 300 - 500 Central Arkansas developers and IT professionals? All sponsors will be listed as a sponsor on the LR Tech Fest website. You’ll also have the opportunity to include marketing materials or swag in conference packets given to each attendee.
				p.
					We’ll always accept cash, but we encourage you to consider sponsoring us through more inventive means as well. Consider things such as sponsoring prize giveaways, running a contest culminated at the event, sponsor lunch or come up with your own creative way you’d like to help our conference. Doing something creative and cool for us helps you look good, too. We’ll be happy to help you pull it off, just drop us a line.
		.row
			h4 Sponsorship Opportunities
		.row
			table.table.table-striped.sponsor-table
				thead
					tr
						th
						th
							span.price $250
							br
							span Bronze
						th
							span.price $500
							br
							span Silver
						th
							span.price $1000
							br
							span Gold
						th
							span.price $2000
							br
							span Platinum
				tbody
					tr
						td Listed on our sponsor page
						td.check 
							i.fa.fa-star
						td.check
							i.fa.fa-star
						td.check
							i.fa.fa-star
						td.check
							i.fa.fa-star
					tr
						td Announced in the prize giveaway portion of the event 
						td.check
							i.fa.fa-star
						td.check
							i.fa.fa-star
						td.check
							i.fa.fa-star
						td.check
							i.fa.fa-star
					tr
						td Mentioned on the conference T-Shirts 
						td
						td.check
							i.fa.fa-star
						td.check
							i.fa.fa-star
						td.check
							i.fa.fa-star
					tr
						td Listed on the announcements and reminders preceding the event
						td 
						td 
						td.check
							i.fa.fa-star
						td.check
							i.fa.fa-star
					tr
						td Vendor Table
						td 
						td
						td
						td.check
							i.fa.fa-star
		.row
			h4 Other Sponsorship Opportunities
		.row
			.col-sm-5.special-sponsorship
				i.fa.fa-cutlery.fa-2x
				.info
					.type Lunch Sponsorship
					.price $3000 (Includes Platinum)
			.col-sm-5.special-sponsorship
				i.fa.fa-spoon.fa-2x
				.info
					.type Breakfast Sponsorship
					.price $1500 (Includes Gold)
			.col-sm-5.special-sponsorship
				i.fa.fa-coffee.fa-2x
				.info
					.type Coffee/Beverage Sponsorship
					.price $700 (Includes Silver)
			.col-sm-5.special-sponsorship
				i.fa.fa-briefcase.fa-2x
				.info
					.type Vendor Table
					.price $300 (Sponsors Only)