extends sponsors

block sponsor-content
	.container
		article.article-big
			h3 We are looking for a few good sponsors
			p.
				Want a chance to market your brand to 300 - 500 Central Arkansas developers and IT professionals? All sponsors will be listed as a sponsor on the LR Tech Fest website. You’ll also have the opportunity to include marketing materials or swag in conference packets given to each attendee.
			p.
				We’ll always accept cash, but we encourage you to consider sponsoring us through more inventive means as well. Consider things such as sponsoring prize giveaways, running a contest culminated at the event, sponsor lunch or come up with your own creative way you’d like to help our conference. Doing something creative and cool for us helps you look good, too. We’ll be happy to help you pull it off, just drop us a line.
		.row
			table.table.table-striped.sponsor-table
				thead
					tr
						th.col-sm-3 Sponsorship Level
						th.col-sm-3 Donation Value
						th.col-sm-6 Description
				tbody
					tr
						td Bronze
						td $100 - $499
						td 
							p 
								ul
									li Listed on our sponsor page
									li Announced in the prize giveaway portion of the event in the Bronze Sponsors section.
					tr
						td Silver
						td $500 - $999
						td 
							p 
								ul 
									li Listed on our sponsor page
									li Announced in the prize giveaway portion in the Silver Sponsors section.
									li Mentioned on the conference T-Shirts in the Silver Sponsor section.

					tr
						td Gold
						td $1000 - $1999
						td 
							p 
								ul
									li Listed on our sponsor page
									li Announced in the prize giveaway portion in the Gold Sponsors section.
									li Mentioned on the conference T-Shirts in the Gold Sponsor section.
									li Listed on the announcements and reminders preceding the event.
					tr
						td Platinum
						td $2000+
						td 
							ul
								li Listed on our sponsor page
								li Announced in our monthly meeting in the Platinum Sponsors section.
								li Mentioned on the conference T-Shirts in the Platinum Sponsor section
								li Listed on the announcements and reminders preceding the event
					tr
						td Vendor Table
						td $500
						td 
							ul
								li Vendor tables are limited to the number of tables that can fit in the allotted section of the conference center.
								li Something special we are doing this year is the Vendor Challenge which all vendors are encouraged to participate in to promote their products and services. Participation in the Vendor Challenge is covered by the Vendor Table fee
