extends layout

block content
	.container-fluid
		.row.page-banner
			.col-md-12
				ul
					li
						.page-banner-title Speakers
	.container
		#wufoo-z7x3p9.
			Fill out my <a href="http://lrdnug.wufoo.com/forms/z7x3p9"> online form</a>.

block scripts
	script(src='public/js/loadWufoo.js')