extends layout

block content
	.section
		.section-header
			h2 Call For Speakers
			h3 We're searching for <strong> engaging </strong> talks on the latest technology.

	.container.section-content
	
		h4 How can I submit a talk?
		p Submissions are accepted at <a href="https://www.papercall.io/lrtf">https://www.papercall.io/lrtf</a>
	
		h4 Who should submit talks?
		p Just about everybody can! We encourage anyone who is interested in presenting sign up at the site above. We're looking for speakers who are excited about sharing their knowledge and expertise.
		
		h4 But I'm not an expert!
		p You're an expert in something. Have you solved a technical problem using an interesting technique, new technology, or tool? Sharing your experience allows you to deepen your knowledge in that area and help others solve similar problems. We will have both beginners and advanced IT people present. Remember that even advanced IT people have knowledge gaps and you might be able to help fill those gaps!
		
		h4 What topic areas are we looking for?
		p We're looking for topics covering a wide range of categories. Here's just SOME of the categories to get ideas flowing:
			ul
				li Developers - software development, best practices, new tools, testing, architecture, managing projects and time
				li IT Professionals - server administration, virtualization, database technologies
				li Entrepreneurs - working in startups, contract work, remote work
				li Panel Discussions - two or more people leading discussions on any of the areas above

		h4 What are the sessions like?
		p We are primarily looking for 30 minutes sessions (with 10 minute Q&A afterwards) . We will be running 3 tracks at one time throughout both days. We are also looking at providing longer workshop sessions (1 to 1.5 hour) for more in depth coverage of topics.

		h4 When are topics selected?
		p The Tech Fest committee will decide which topics will be chosen. If your session is not selected, you may be asked whether you would like to have your session kept as an alternate should a speaker need to cancel a session. The selections will be finalized by September 14.

		h3 Thank you!
		<hr>
