extends layout

block content
	.container-fluid
		.row.page-banner
			.col-md-21
				ul
					li
						.page-banner-title Contact Us
	.container
		.row
			p For sponsorship opportunities, email us at sponsors@lrdnug.org
			p For all other inqueries, email us at general@lrdnug.org


