extends layout

block stylesheets
	link(href="/public/css/jquery.countdown.css", rel="stylesheet")

block content
	#landing
		#announcement-content.text-center
			.container
				#time-place
					hr
					.time-place-inner
						span.fa.fa-calendar-o
						span Friday, September 26, 2014
						.sep
						span.h3.fa.fa-map-marker
						span Statehouse Convention Center
					hr
				h1 Little Rock<br> Tech Fest
				h3 One-day <strong>technology</strong> conference featuring popular developer topics from industry leaders

				#timer
					#timer-div

				#register-now
					a(class="btn btn-primary btn-lg" href=" http://lrtechfest.eventbrite.com")
						i.fa.fa-ticket.fa-2x
							span Register Now!

		#sponsors-content
			.container-fluid
				.row.sponsor-header
					h2.text-center Sponsors
					h4.text-center We love our fantastic sponsors. Without their support, Little Rock Techfest would not happen.
				.row.logo-row

						a(href="http://lrdnug.org/")
							.logo-container
								.level
									i.fa.fa-trophy.platinum
									span Platinum Sponsor
								.logo-frame
									.logo-img
									img(src="/public/img/sponsors/logo_lrdnug.png")

						a(href="http://balsamiq.com/")
							.logo-container
								.level
									i.fa.fa-trophy.platinum
									span Platinum Sponsor
								.logo-frame
									.logo-img
									img(src="/public/img/sponsors/balsamiq-logo.png")
						
						a(href="http://www.innovatearkansas.org/")
							.logo-container
								.level
									i.fa.fa-trophy.gold
									span Gold Sponsor
								.logo-frame
									.logo-img
									img(src="/public/img/sponsors/innovateark.jpg")

						a(href="http://pluralsight.com/training")
							.logo-container
								.level
									i.fa.fa-trophy.gold
									span Gold Sponsor
								.logo-frame
									.logo-img
									img(src="/public/img/sponsors/pluralsight-logo.png")
						
						a(href="http://www.abcfinancial.com/")
							.logo-container
								.level
									i.fa.fa-trophy.gold
									span Gold Sponsor
								.logo-frame
									.logo-img
									img(src="/public/img/sponsors/abc-logo.jpg")

						a(href="https://github.com/")
							.logo-container
								.level
									i.fa.fa-trophy.silver
									span Silver Sponsor
								.logo-frame
									.logo-img
									img(src="/public/img/sponsors/GitHub_Logo_Small.png")

						a(href="http://sibanking.com/")
							.logo-container
								.level
									i.fa.fa-trophy.silver
									span Silver Sponsor
								.logo-frame
									.logo-img
									img(src="/public/img/sponsors/sti-logo.png")

						a(href="http://www.arhub.org/")
							.logo-container
								.level
									i.fa.fa-trophy.silver
									span Silver Sponsor
								.logo-frame
									.logo-img
									img(src="/public/img/sponsors/innovation-hub-logo.png")

						a(href="http://bbasolutions.com/")
							.logo-container
								.level
									i.fa.fa-trophy.silver
									span Silver Sponsor
								.logo-frame
									.logo-img
									img(src="/public/img/sponsors/BBAHoriz-logo.png")

						a(href="http://www.mainstream-tech.com/")
							.logo-container
								.level
									i.fa.fa-trophy.silver
									span Silver Sponsor
								.logo-frame
									.logo-img
									img(src="/public/img/sponsors/mainstream-logo.png")


						a(href="http://ina.arkansas.gov/")
							.logo-container
								.level
									i.fa.fa-trophy.bronze
									span Bronze Sponsor
								.logo-frame
									.logo-img
									img(src="/public/img/sponsors/logo_ina.png")

						a(href="http://sqlsmash.com/")
							.logo-container
								.level
									i.fa.fa-trophy.bronze
									span Bronze Sponsor
								.logo-frame
									.logo-img
									img(src="/public/img/sponsors/sqlsmash_small.png")

						a(href="http://few.io/")
							.logo-container
								.level
									i.fa.fa-trophy.bronze
									span Bronze Sponsor
								.logo-frame
									.logo-img
									img(src="/public/img/sponsors/few-logo-small.png")

						a(href="https://www.venturecenter.co/")
							.logo-container
								.level
									i.fa.fa-trophy.bronze
									span Bronze Sponsor
								.logo-frame
									.logo-img
									img(src="/public/img/sponsors/avc.png")

						a(href="http://www.teksystems.com/")
							.logo-container
								.level
									i.fa.fa-trophy.bronze
									span Bronze Sponsor
								.logo-frame
									.logo-img
									img(src="/public/img/sponsors/TEKsystems_logo.png")

						a(href="http://www.perks.com/")
							.logo-container
								.level
									i.fa.fa-trophy.bronze
									span Bronze Sponsor
								.logo-frame
									.logo-img
									img(src="/public/img/sponsors/perks-logo.jpg")

						a(href="http://www.arkansasbluecross.com/")
							.logo-container
								.level
									i.fa.fa-trophy.bronze
									span Bronze Sponsor
								.logo-frame
									.logo-img
									img(src="/public/img/sponsors/abcbs-logo.png")

						a(href="http://www.medevolve.com/")
							.logo-container
								.level
									i.fa.fa-trophy.bronze
									span Bronze Sponsor
								.logo-frame
									.logo-img
									img(src="/public/img/sponsors/medevolve_logo.jpg")

						a(href="http://www.devexpress.com/")
							.logo-container
								.level
									i.fa.fa-trophy.bronze
									span Bronze Sponsor
								.logo-frame
									.logo-img
									img(src="/public/img/sponsors/devexpress-logo.png")

						a(href="http://www.praeses.com/")
							.logo-container
								.level
									i.fa.fa-trophy.bronze
									span Bronze Sponsor
								.logo-frame
									.logo-img
									img(src="/public/img/sponsors/praeses-logo.png")
						
						a(href="http://www.gdhconsulting.com/")
							.logo-container
								.level
									i.fa.fa-trophy.bronze
									span Bronze Sponsor
								.logo-frame
									.logo-img
									img(src="/public/img/sponsors/gdh-logo.jpg")

						a(href="/sponsors")
							.logo-container
								.level
									i.fa.fa-trophy.silver
									span Sponsor Us!
								.logo-frame
									.logo-img
									img(src="/public/img/sponsors/default.png")

block scripts
	script(src="/public/js/jquery.plugin.min.js")
	script(src="/public/js/jquery.countdown.min.js")
	script.
		$('#timer-div').countdown({ until: new Date(2014, 9 - 1, 26, 8, 0, 0) });