extends layout

block stylesheets
	link(href="/public/css/jquery.countdown.css", rel="stylesheet")

block content
	#landing
		#announcement-content.text-center
			.container
				#time-place
					hr
					.time-place-inner
						span.fa.fa-calendar
						span Friday, September 26, 2014
						.sep
						span.h3.fa.fa-map-marker
						span UALR
					hr
				h1 Little Rock<br> Tech Fest
				h3 One-day <strong>technology</strong> conference featuring popular developer topics from industry leaders

				#timer
					#timer-div

				form(action="http://lrdnug.us2.list-manage.com/subscribe/post?u=8067ea5d5e1f796c71c1d3673&amp;id=ecc720713a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form" target="_blank" novalidate)
					.form-group.form-inline
						input(type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL" placeholder="email address" required)
						button(type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-secondary btn-sm")
							i.fa.fa-envelope.fa-lg
							span Subscribe
		#sponsors-content
			.container-fluid
				.row.sponsor-header
					h2.text-center Sponsors
					h4.text-center We love our fantastic sponsors. Without their support, Little Rock Techfest would not happen.
				.row.logo-row

						a(href="http://lrdnug.org/")
							.logo-container
								.level
									i.fa.fa-trophy.platinum
									span Platinum Sponsor
								.logo-frame
									.logo-img
									img(src="/public/img/sponsors/logo_lrdnug.png")

						a(href="http://ualr.edu/")
							.logo-container
								.level
									i.fa.fa-trophy.platinum
									span Platinum Sponsor
								.logo-frame
									.logo-img
									img(src="/public/img/sponsors/ualr-logo-small.jpg")
						
						a(href="http://www.innovatearkansas.org/")
							.logo-container
								.level
									i.fa.fa-trophy.gold
									span Gold Sponsor
								.logo-frame
									.logo-img
									img(src="/public/img/sponsors/innovateark.jpg")

						a(href="https://github.com/")
							.logo-container
								.level
									i.fa.fa-trophy.silver
									span Silver Sponsor
								.logo-frame
									.logo-img
									img(src="/public/img/sponsors/GitHub_Logo_Small.png")

						a(href="http://arkansas.gov/")
							.logo-container
								.level
									i.fa.fa-trophy.bronze
									span Bronze Sponsor
								.logo-frame
									.logo-img
									img(src="/public/img/sponsors/logo_argov.png")

						a(href="http://sqlsmash.com/")
							.logo-container
								.level
									i.fa.fa-trophy.bronze
									span Bronze Sponsor
								.logo-frame
									.logo-img
									img(src="/public/img/sponsors/sqlsmash_small.png")

						a(href="http://few.io/")
							.logo-container
								.level
									i.fa.fa-trophy.bronze
									span Bronze Sponsor
								.logo-frame
									.logo-img
									img(src="/public/img/sponsors/few-logo-small.png")

						.logo-container
							.level
								i.fa.fa-trophy.silver
								span Sponsor Us!
							a(href="/sponsors")
								.logo-frame
									.your-logo-here
										h3 Your Logo Here
										h5 Click here to learn about available sponsorship opportunities

block scripts
	script(src="/public/js/jquery.plugin.min.js")
	script(src="/public/js/jquery.countdown.min.js")
	script.
		$('#timer-div').countdown({ until: new Date(2014, 9 - 1, 26, 8, 0, 0) });