extends layout

block content
	#landing
		.container-fluid
			#time-place
				hr
				.time-place-inner
					span.fa.fa-calendar-o
					span October 22-23 2016
					.sep
					span.h3.fa.fa-map-marker
					span Statehouse Convention Center
				hr
			#landing-content.text-center
				h1 Little Rock<br> Tech Fest
				h3 The premier <b>two-day</b> developer event in Arkansas
		
	#sponsors
		.section
			.section-header
				h3 We are currently seeking sponsors for 2015. To see your logo here, please <a href="/sponsors">contact</a> us!