extends layout

block content
	#landing.jumbotron
		.landing-content.text-center
			.container
				h1 Little Rock<br/> Tech Fest
				h2 One-day <strong>free</strong> technology conference featuring popular developer topics from industry leaders
				
				a(class="btn btn-primary btn-lg" href="/call")
					i.fa.fa-microphone.fa-2x
					span Call for Speakers

				a(class="btn btn-primary btn-lg" href="/sponsors")
					i.fa.fa-trophy.fa-2x
					span Sponsorship Info

				form(action="http://lrdnug.us2.list-manage.com/subscribe/post?u=8067ea5d5e1f796c71c1d3673&amp;id=ecc720713a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form" target="_blank" novalidate)
					.form-group.form-inline
						input(type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL" placeholder="email address" required)
						button(type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-secondary btn-sm")
							i.fa.fa-envelope.fa-lg
							span Subscribe