extends layout

block content
	section.align-center
		h1 Job Description!
		hr

	section#jobDesc
		div.col-sm-10.col-sm-offset-1
			div.col-sm-12
				div.col-sm-4
					img.col-sm-2(style="height: 100%" src="/logo.png", alt="Logo")
					h5.col-sm-10 Nick Cage Corp
					hr
					span.col-sm-12
						h6 Job Details
						ul.icon-list.li-type  
							li Full Time
						ul.icon-list.li-location
							li Los Angeles, CA
				div.col-sm-8
					h5 Looking for a few good Nick Cage fans!
					hr
					br
					p Locavore food truck post-ironic, fingerstache neutra yr marfa. Direct trade ethical chia skateboard, four loko affogato trust fund. Pour-over cold-pressed stumptown williamsburg forage selfies, marfa 3 wolf moon godard hammock swag. Semiotics DIY disrupt 90's keffiyeh roof party. Butcher flexitarian farm-to-table, ethical sustainable cold-pressed typewriter trust fund godard iPhone quinoa +1 salvia. Raw denim pickled forage wolf poutine, jean shorts cardigan etsy twee try-hard selvage plaid actually lumbersexual. Vegan godard venmo, authentic health goth kogi wolf blue bottle.

					p Schlitz direct trade ramps letterpress. Gastropub pitchfork 8-bit before they sold out, viral crucifix shabby chic knausgaard salvia jean shorts ugh meggings. Cray viral venmo mlkshk before they sold out, tumblr pitchfork XOXO biodiesel. Farm-to-table ramps fixie gochujang chartreuse, locavore meggings photo booth helvetica ennui. Retro butcher heirloom bicycle rights taxidermy. Tousled swag locavore try-hard kickstarter hoodie, franzen beard irony chillwave green juice cardigan knausgaard. Brooklyn chartreuse deep v iPhone aesthetic tofu.

					p Wolf meggings photo booth meh, twee keffiyeh fixie austin next level yr. Chia lumbersexual four loko asymmetrical church-key, 8-bit butcher kitsch listicle post-ironic. XOXO kinfolk poutine, chartreuse cornhole offal brunch sriracha ethical tumblr. Lomo drinking vinegar tattooed retro. Scenester synth butcher pinterest offal paleo twee, godard dreamcatcher marfa neutra. 8-bit intelligentsia tote bag crucifix organic tattooed. Kinfolk DIY you probably haven't heard of them, everyday carry brooklyn bitters man bun umami keffiyeh semiotics knausgaard 3 wolf moon cornhole flannel.

					p Pour-over bitters deep v venmo. XOXO post-ironic chambray, tattooed mixtape etsy photo booth shoreditch fingerstache raw denim jean shorts art party. Crucifix hammock poutine, +1 yuccie chillwave keytar four loko. Meh kombucha 8-bit, bushwick flannel fap letterpress sriracha. Post-ironic blue bottle biodiesel kale chips you probably haven't heard of them. Literally you probably haven't heard of them cliche fap aesthetic. Authentic yr offal, pitchfork DIY tumblr celiac seitan banh mi artisan cred pop-up.
	hr
	.row.align-center.btns-block
		a(href="#" class="btn btn-lg" style="margin-top:40px") Apply Now
			
				