extends layout

block content
	section.align-center
		h1 Jobs

	section#jobs.fullwidth-section
		table.job-table.col-sm-8.col-sm-offset-2
			tbody
				tr.job-row
					td
						a(href="/jobDesc" class="job-anchor")
							img.col-sm-2.logo(style="max-height: 86px; width: auto;" src="/logo.png", alt="Logo")
							div.col-sm-10.job-wrap
								div.col-sm-12
									h6.col-sm-9.job-content Looking for a few good Nick Cage fans
									p.col-sm-3.job-content(style="text-align: right;") Full Time
								div.col-sm-12
									p.col-sm-9.job-content Nick Cage Corp
									ul.col-sm-3.icon-list.li-location.job-content(style="text-align: right;")
										li Little Rock, AR
				tr.job-row
					td
						a(href="/jobDesc" class="job-anchor")
							img.col-sm-2.logo(style="max-height: 86px; width: auto;" src="/logo.png", alt="Logo")
							div.col-sm-10.job-wrap
								div.col-sm-12
									h6.col-sm-9.job-content Looking for a few good Nick Cage fans
									p.col-sm-3.job-content(style="text-align: right;") Full Time
								div.col-sm-12
									p.col-sm-9.job-content Nick Cage Corp
									ul.col-sm-3.icon-list.li-location.job-content(style="text-align: right;")
										li Little Rock, AR
				
	hr