extends layout

block content
	section.align-center
		h1 Find a JOB!

	section#jobs.fullwidth-section
		table.col-sm-8.col-sm-offset-2
			tbody
				tr.job-table
					td
						a(href="http://niccageaseveryone.blogspot.com/" target="_blank" class="job-anchor")
							img.col-sm-2(style="height: 75px; width: auto;" src="/NCL.png", alt="NCL")
							div.col-sm-10.job-wrap
								div.col-sm-12
									h6.col-sm-8 Looking for a few good Nick Cage fans
									p.col-sm-4(style="text-align: right") Full Time
								div.col-sm-12
									p.col-sm-8 Nick Cage Corp
									p.col-sm-4(style="text-align: right") LA California
				
	hr