doctype html
html
	head
		meta(charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		title Little Rock Tech Fest
		//- link(href="http://fonts.googleapis.com/css?family=Roboto:100,300,700", rel='stylesheet', type='text/css')
		//- link(href='http://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css')
		link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", rel="stylesheet")
		link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel="stylesheet")
		link(link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css")
		block stylesheets
		link(href="/public/img/favicon.ico" rel="shortcut icon" type="image/x-icon")
		link(href="/public/css/animations.css", rel="stylesheet")
		link(href="/public/css/style.css", rel="stylesheet")
		link(href="/public/css/style-green-color.css", rel="stylesheet")
		link(href="/public/css/custom.css?v=0.0.1", rel="stylesheet")
		script(src="/public/js/google-analytics.js")
		script.
			<!-- Facebook Pixel Code -->
			!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
			n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
			n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
			document,'script','https://connect.facebook.net/en_US/fbevents.js');

			fbq('init', '132849980489175');
			fbq('track', "PageView");
		noscript.
			<img height="1" width="1" style="display:none"
			src="https://www.facebook.com/tr?id=132849980489175&ev=PageView&noscript=1"
			/>
		<!-- End Facebook Pixel Code -->

		<!-- For Facebook sharing -->
		meta(property="og:title" content="Little Rock Tech Fest")
		meta(property="og:description" content="Little Rock Tech Fest is an annual developer conference featuring popular web, mobile and related developer topics from industry leaders. It is the event in Little Rock for both professional and aspiring software developers. Speakers from across the country come to present. Students and professionals from across Arkansas and surrounding regions come to learn and network with peers.")
		meta(property="og:image", content="http://www.lrtechfest.com/public/img/lrtf-logo-fb.png")
		meta(property="og:url", content="http://www.lrtechfest.com")
		meta(property="og:site_name", content="Little Rock Tech Fest")
		meta(property="og:type", content="website")
	body

		header.header.header-black
			.header-wrapper
				.container
					.col-sm-2.col-xs-12.navigation-header
						a.logo(href="/")
							img(src="/public/img/lrtf-logo-small.png" style="height:80px;margin-top: -24px;")
						button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-controls="navigation")
							span(class="icon-bar")
							span(class="icon-bar")
							span(class="icon-bar")
					.col-sm-10.col-xs-12.navigation-container
						#navigation.navbar-collapse.collapse
							ul.navigation-list.pull-left.light-text
								li.navigation-item
									a(class="navigation-link" href="/#about") About
								//- li.navigation-item
								//- 	a(class="navigation-link" href="/#schedule") Schedule
								li.navigation-item.dropdown
									a.navigation-link.dropdown-toggle(href="/#schedule") Schedule
									ul.dropdown-menu
										li.navigation-item
											a(class="navigation-link" href="/resources") Resources
								//li.navigation-item
								//	a(class="navigation-link" href="/#speakers") Speakers
								//li.navigation-item
								//	a(class="navigation-link" href="/#tickets") Tickets
								li.navigation-item
									a(class="navigation-link" href="/#location") Location
								//li.navigation-item
								//	a(class="navigation-link" href="/sponsors") Become a sponsor
								li.navigation-item.dropdown
									a.navigation-link.dropdown-toggle(href="/#sponsors") Sponsors
									ul.dropdown-menu
										li.navigation-item
											a(class="navigation-link" href="/sponsors") Become a sponsor
								//li.navigation-item
								//	a(class="navigation-link" href="/jobs") Jobs

								li.navigation-item
								//- 	a(class="navigation-link" href="#speakers") Schedule
								//-		a(class="pull-right buy-btn" href="#") Buy Tickets
								//.pull-right.buy-btn
									a(class="navigation-link" href="https://www.papercall.io/lrtf2018") Call for Speakers


		block content


		section.footer
			.footer-base
				.container
					.col-md-6
						ul.footer-nav
							li.footer-nav-item
								a(href="mailto:info@lrtechfest.com") Contact
							li.code-of-conduct
								a(href="http://confcodeofconduct.com/") Code of Conduct
							//- li.footer-nav-item
							//- 	a(href="#") Privacy policy
							//- li.footer-nav-item
							//- 	a(href="#") Press
					.col-md-6.align-right
						ul.socials-nav.align-right
							li.socials-nav-item
								a(href="https://twitter.com/LRTechFest" target="new")
									span.fa.fa-twitter
							li.socials-nav-item
								a(href="https://www.facebook.com/LittleRockTechFest" target="new")
									span.fa.fa-facebook
							li.socials-nav-item
								a(href="mailto:info@lrtechfest.com?Subject=TechFest")
									span.fa.fa-envelope
						p.text-alt
							small All Rights Reserved © 2018&nbsp;
								a(href="http://www.everleap.com/go/go.aspx?i=21199")
									span Hosted by Everleap

		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
		block scripts
		script(type="text/javascript" src="/public/js/masonry.pkgd.min.js")
		script(src="/public/js/theme.js")
		script(src="/public/js/site.js")

		script.
			<!-- Drip -->
			var _dcq = _dcq || [];
			var _dcs = _dcs || {};
			_dcs.account = '3825101';
			(function() {
				var dc = document.createElement('script');
				dc.type = 'text/javascript'; dc.async = true;
				dc.src = '//tag.getdrip.com/3825101.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(dc, s);
			})();
