doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		title Little Rock Tech Fest 2015
		link(href="http://fonts.googleapis.com/css?family=Roboto:100,300,700", rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css')
		link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.css", rel="stylesheet")
		link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel="stylesheet")
		link(link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css")
		link(link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css")
		block stylesheets
		link(href="/public/css/site.css", rel="stylesheet")
		script(src="/public/js/google-analytics.js")
	body
		nav.blue-grey.darken-2
			.nav-wrapper
				a.brand-logo(href="/")
					img(id='navbar-logo' src="/public/img/lrtf-logo-small-white.png" )
				ul.right.hide-on-med-and-down
					li
						a(href="/speakerdetails")
							span Speakers
					li
						a(href="/sponsors")
							span Sponsor Us
					li
						a(href="https://lrtf2105.eventbrite.com")
							span Tickets
			.event-details.blue-grey.darken-4
				span.date.light-green-text.text-lighten-2 Oct 16
				span.venue Little Rock, AR

		.maincontent.container
			block content

		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.js")
		block scripts
		script(src="/public/js/site.js")
