extends layout

block content
	.container-fluid
		.row.page-banner
			.col-md-12
				ul
					li
						.page-banner-title Speakers
					li 
						a(class="btn btn-primary btn-sm" href="/call")
							i.fa.fa-bullhorn.fa-lg
							span Call for Speakers
	block speaker-content
