doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		title Little Rock Tech Fest 2014
		script(src="/public/js/google-analytics.js")
		link(href="http://fonts.googleapis.com/css?family=Roboto:100,300,700", rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css')
		link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
		link(href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel="stylesheet")
		link(link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css")
		block stylesheets
		link(href="/public/css/site.css", rel="stylesheet")
	body
		.navbar.navbar-inverse.navbar-fixed-top
			.container-fluid
				.navbar-header
					button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-techfest")
						span(class="sr-only") Toggle
						span(class="icon-bar")
						span(class="icon-bar")
					a(class="navbar-brand" href="/")
						img(id='navbar-logo' src="/public/img/logo_lrtf-white.png" )
				#navbar-techfest.navbar-collapse.collapse
					ul.nav.navbar-nav
						li
							a(class="btn btn-primary btn-sm" href="/call")
								i.fa.fa-microphone.fa-2x
								span Call for Speakers
						li
							a(class="btn btn-primary btn-sm" href="/sponsors")
								i.fa.fa-trophy.fa-2x
								span Sponsorship Info
						li
							a(class="btn btn-primary btn-sm" href="/venue")
								i.fa.fa-university.fa-2x
								span Venue
						li.dropdown
							a(href="#" class="dropdown-toggle" data-toggle="dropdown")
								i.fa.fa-download.fa-2x
								span Programs
								span.caret
							ul.dropdown-menu
								li
									a(href="/programs/2013")
										span 2013 (Previous Year)
					ul.nav.navbar-nav.navbar-right
						li
							a(class="social" href="mailto:contact@lrdnug.org?Subject=TechFest")
								i.fa.fa-envelope.fa-2x
						li
							a(class="social" href="https://www.facebook.com/LittleRockTechFest")
								i.fa.fa-facebook.fa-2x
						li
							a(class="social" href="https://twitter.com/LRTechFest")
								i.fa.fa-twitter.fa-2x

		block content

		#footer
			a(href="http://www.everleap.com/go/go.aspx?i=21199")
				span Hosted by Everleap

		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
		block scripts
		script(src="/public/js/site.js")