extends layout

block content
	section.section.align-left
		.container
			h1 Attendee Information
			
	section#resources
		.container
			h5 Where is Little Rock Tech Fest Located
			p Little Rock Tech Fest is located in the heart of downtown Little Rock at the <a href="https://www.google.com/maps/place/Statehouse+Convention+Center/@34.7487128,-92.2728966,17z/data=!3m1!4b1!4m5!3m4!1s0x87d2bb7c7d42bb63:0x1700cdf88779977b!8m2!3d34.7487084!4d-92.2707079">Statehouse Convention Center.</a>
			br
				
			h5 Parking
			p.
				Statehouse Parking Deck is free for attendees. All you need to do is show your Little Rock Tech Fest Badge! Look for the yellow parking icon on the map below.
			br
				
			h5 Where to Stay
			p.
				Since Little Rock Tech Fest is located downtown there are many hotels surrounding the location of the convention.<br />The list below are the hotels located near the conference:
			ul
				li - <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Little%20Rock%20Tech%20Fest%5Elitpb%60rtfrtfa%60112.00%60USD%60false%604%6010/19/16%6010/22/16%6009/19/16&app=resvlink&stop_mobi=yes">Little Rock Marriott</a>
				li - Capital Hotel
				li - DoubleTree Little Rock
				li - Courtyard Little Rock
				li - Homewood Suites by Hilton Little Rock Downtown
			br
				
			h5 Where to Eat
			p.
				Lunch will be provided Thursday and Friday during the convention. Food and drinks will be provided at the after-party on Thursday night. 
			br
				
			h5 Where to Drink
			p.
				Downtown Litle Rock has offers many local breweries for you to enjoy. Check out the map below to see where they are located.
			br
			
			h5 What else to do in Little Rock
			p.
				Little Rock has a lot of actives. Check out the maps below for more things to do!
			br
				
			h4 Little Rock Tech Fest Guide
			div.map-res
				iframe(src='https://www.google.com/maps/d/u/0/embed?mid=1Yty6xaLnziSCkesYd8r1npCNXQk', width='640', height='480')
