extends layout

block content
	section.section.align-left
		.container
			h1 Attendee Information

		
			h4 Special Events
			h5 Wednesday Evening Registration Mixer
			p Wednesday evening, from 5:30 to 7:30 PM, you can check in early and enjoy beer, wine, and snacks on us by joining us at <a href="https://www.google.com/maps/place/First+Orion+Corp/@34.7474537,-92.2667186,17z/data=!3m1!4b1!4m5!3m4!1s0x87d2bb78cb70552d:0x7e0a7a1965683f32!8m2!3d34.7474493!4d-92.2645299">First Orion's Headquarters</a>, located in the Museum Center building. 
			p First Orion is located on the second floor. The address is 500 President Clinton Ave #215, Little Rock, AR 72201.
			br
			
			h5 Thursday Evening Attendee Party
			p Thursday evening, the Attendee Party will be held at Rivermarket Pavilion from 6:00 PM - 9:00 PM. The Rivermarket Pavilion is a short walk from the Convention Center.
			p Join us for free beer, wine, and food. We'll have music, raffle prizes, an escape pod, and other entertainment for you.
			br
			
			h4 Logistics
			h5 Where is Little Rock Tech Fest Located

			p Little Rock Tech Fest 2017 will be held in the heart of downtown Little Rock at the <a href="https://www.google.com/maps/place/Statehouse+Convention+Center/@34.7487128,-92.2728966,17z/data=!3m1!4b1!4m5!3m4!1s0x87d2bb7c7d42bb63:0x1700cdf88779977b!8m2!3d34.7487084!4d-92.2707079">Statehouse Convention Center.</a>
			p Address: <br /> 101 E Markham St, <br /> Little Rock, AR 72201

			br
				
			h5 Registration
			p.
				The registration table opens at 7:00 AM both days and will generally stay open throughout the event.
			br
			
			h5 Parking
			p.
				Bring your Main Street Parking Deck ticket stub to the event and we'll validate it to get you $1 parking. To find the main street garage, look for the yellow parking icon on the map below.
			br
				
			

			h5 Where to Stay
			p.

				There are many hotels surrounding the location of the convention.<br />The list below are the hotels located near the conference:
			ul
				li - Little Rock Marriott
				li - Capital Hotel
				li - DoubleTree Little Rock
				li - Courtyard Little Rock
				li - Homewood Suites by Hilton Little Rock Downtown
			br
			h5 Where to Eat
			p.

				Lunch is provided Thursday and Friday for you during the convention. Thursday night, food and drinks are provided at the Attendee Party. A breakfast of bagels, donuts, and coffee is provided both days.

			br
				
			h5 Where to Drink
			p.
				Downtown Litle Rock offers many local breweries for you to enjoy. Check out the map below to see where they are located.
			br
			
			h5 What else to do in Little Rock
			p.
				Little Rock has a lot of activities. Check out the maps below for more things to do!
			br
				
				
			h4 Little Rock Tech Fest Guide
			div.map-res
				iframe(src='https://www.google.com/maps/d/u/0/embed?mid=1Yty6xaLnziSCkesYd8r1npCNXQk', width='640', height='480')
