extends layout

block content
	section.section.align-center
		.section-header.col-sm-10.col-sm-offset-1
			h1 Information for the Attendees
			
	section#resources.section
		.container
			h5 Where is Little Rock Tech Fest Located
			p Little Rock Tech Fest is located in the heart of downtown Little Rock at the Statehouse Convention Center.
			p Address: 101 E Markham St, Little Rock, AR 72201
				
			h6 For better visual scroll down for the map of the Little Rock Tech Fest Guide.
			br
				
			h5 Parking
			p.
				Statehouse Parking Deck is free for attendees. All you need to do is show your Little Rock Tech Fest Badge! Look for the yellow parking icon on the map below.
			br
				
			h5 Where to Stay
			p.
				Since Little Rock Tech Fest is located in the heart of downtown there are many hotels surrounding the location of the convention. The list below are the hotels located near the conference.
			ul
				li - Little Rock Marriot
				li - Capital Hotel
				li - DoubleTree Little Rock
				li - Courtyard Little Rock
				li - Little Rock Marriot
				li - Homewood Suites by Hilton Little Rock Downtown
			br
				
			h5 Where to Eat
			p.
				Lunch is provided Thursday and Friday for you during the convention. Thursday night food and drinks are provided at the after party. 
			br
				
			h5 Where to Drink
			p.
				Downtown Litle Rock has many local breweries for you to enjoy.
			br
			
			h5 What else to do in Little Rock
			p.
				Little rock has a lot of actives. Check out the maps below for more things to do!
			br
				
			h4 Little Rock Tech Fest Guide
			div.map-res
				iframe(src='https://www.google.com/maps/d/u/0/embed?mid=1Yty6xaLnziSCkesYd8r1npCNXQk', width='640', height='480')
