extends layout

block content
	section.section.align-left
		.container
			h1 Attendee Information
		
			br

			h4 Special Events
			hr
			h5 Wednesday Evening, Registration Mixer 🍷
			p Let’s get this party started! Our Platinum sponsor <b><a href="https://firstorion.com/" target="_blank">First Orion</a></b> will be hosting a <b>Registration Mixer</b> at their office HQ on Wendesday, October 3rd from 7:00 PM to 9:00 PM!
			p Check in early and enjoy complimentary beer, wine, and snacks at <b>First Orion's Headquarters</b>, located in the Museum Center building. 
			p First Orion is located on the second floor at <b><a href="https://www.google.com/maps/place/First+Orion+Corp/@34.7474537,-92.2667186,17z/data=!3m1!4b1!4m5!3m4!1s0x87d2bb78cb70552d:0x7e0a7a1965683f32!8m2!3d34.7474493!4d-92.2645299" target="_blank">500 President Clinton Ave #215, Little Rock, AR 72201</a></b>.
			br
			
			h5 Thursday Evening, Attendee Party &nbsp;🎉
			p Our Platinum sponsor <b><a href="https://www.abcfinancial.com/" target="_blank">ABC Financial</a></b> will host an <b>Attendee Party</b> on Thursday, October 4th from 6:00 PM to 9:00 PM! 
			p Join us  for free beer, wine, and food at <b><a href="http://brewskispubandgrub.com/" target="_blank">Brewski's Pub and Grub</a></b>. New this year is <b>TECH TRIVIA!</b> Grab your friends and see which teams know their stuff! We'll have music, raffle prizes, and plenty of great entertainment.
			p Brewski's Pub is a short walk from the Convention Center. The address is <b><a href="https://www.google.com/maps?ll=34.745555,-92.270475&z=14&t=m&hl=en&gl=US&mapclient=embed&q=315+Main+St+%23100+Little+Rock,+AR+72201" target="_blank">315 Main Street Suite 100, Little Rock, AR 72201</a></b>.
			br
			
			h4 Logistics
			hr
			h5 Where is Little Rock Tech Fest Located
			p Little Rock Tech Fest 2018 will be held in the heart of downtown Little Rock at the <b><a href="https://www.littlerockmeetings.com/convention-facilities/statehouse-convention-center" target="_blank">Statehouse Convention Center.</a></b> 
			p Tap or send <b><a href="https://www.google.com/maps/place/Statehouse+Convention+Center/@34.7487128,-92.2728966,17z/data=!3m1!4b1!4m5!3m4!1s0x87d2bb7c7d42bb63:0x1700cdf88779977b!8m2!3d34.7487084!4d-92.2707079" target="_blank">101 E Markham St, Little Rock, AR 72201</a></b> to your phone and you will be on your way!</b>.

			br
				
			h5 Registration
			p The registration table opens at 7:00 AM both days and will generally stay open throughout the event. Get there early so you can grab your stuff and relax before the Opening Remarks on Thursday, Oct. 4th! 
			
			h5 Parking
			p You can park at Main Street Parking Deck (Corner of 2nd &amp; Main St.) for $1 thanks to the <b><a href="https://www.venturecenter.co/" target="_blank">Venture Center</a></b>! Just bring your ticket stub to the event and we'll validate it to get you $1 parking. If you forget, you’ll be paying over $10 for the day so don’t forget! 
			p To find the main street garage, look for the yellow parking icon on the map below. Also, there will be other events in the area so get there early to ensure you can get a spot and walk to the conference just down the street. 

				
			h5 Where to Stay 
			// Discount availability TBD.
			p There are many hotels surrounding the location of the convention.<br />The list below are the hotels located near the conference:
			ul.styled.disc
				li <a href="https://www.marriott.com/hotels/travel/litpb-little-rock-marriott/" target="_blank">Little Rock Marriott</a>
				li <a href="http://capitalhotel.com/" target="_blank">Capital Hotel</a>
				li <a href="https://doubletree3.hilton.com/en/hotels/arkansas/doubletree-by-hilton-hotel-little-rock-LITMBDT/index.html" target="_blank">DoubleTree Little Rock</a>
				li <a href="https://www.marriott.com/hotels/hotel-photos/litdt-courtyard-little-rock-downtown/" target="_blank">Courtyard Little Rock</a>
				li <a href="https://homewoodsuites3.hilton.com/en/hotels/arkansas/homewood-suites-by-hilton-little-rock-downtown-LITDWHW/index.html" target="_blank">Homewood Suites by Hilton Little Rock Downtown</a>
			br

			h5 Where to Eat
			ul.styled.disc
				li A breakfast selection of bagels, donuts, and coffee is provided both days.
				li Lunch will be catered Thursday and Friday during the convention. 
				li Light snacks in the afternoon
				li Food and drinks will be provided Thursday night at the Attendee Party.
			p If you have special dietary needs or just want to eat somewhere else, there are plenty of restaurants within walking distance where you could grab a bite or a drink.
			br
				
			h5 Where to Drink
			p Downtown Little Rock offers many local breweries for you to enjoy. Many are within walking distance or a short Uber ride away. Check out the map below to see where they are located.

			br
			
			h5 What else to do in Little Rock
			p Little Rock has a lot of activities for both adults and children. Check out the maps below for more things to do!
			br
				
			h4 Little Rock Tech Fest Guide
			hr
			div.map-res
				iframe(src='https://www.google.com/maps/d/u/0/embed?mid=1Yty6xaLnziSCkesYd8r1npCNXQk', width='640', height='480')

