extends layout

block content
	.section
		.section-header
			h2 Conference Schedule

	#speakerdetail.container-fluid.section-content

		table
			thead
				tr
					td 	
					td Fulton	
					td Pope	
					td Izard
					td Miller
					tbody
						tr
							td 7:00am
							td Registration 
						tr
							td 8:30am
							td Opening Session
						each s, i in schedule
							tr
								if i == 1
									td 9:10
								else if i == 2
									td 10:10
								else if i == 3
									td 11:10
								else if i == 4
									td 1:30
								else if i == 5
									td 2:30
								else if i == 6
									td 3:30
								each p in s
									td	#{p.Name} #{p.PresTitle} #{p.Room} #{p.Session}
								if i == 3
									tr
										td 12:00pm
										td LUNCH
						tr
							td 4:30pm
							td Ending Session (Prizes!)

						tr
							td 5:30pm
							td After Party