extends layout

block content
	.section
		.section-header
			h2 2015 Conference Schedule

	#speakerdetail.container-fluid.section-content

		table.striped.responsive-table
			thead
				tr
					td 	
					td Fulton	
					td Pope	
					td Izard
					td Miller
					tbody
						tr
							td 7:00am
							td Registration
							td
							td
							td
						tr
							td 8:30am
							td Opening Session
							td
							td
							td
						each s, i in schedule
							tr
								if i == 1
									td 9:10am
								else if i == 2
									td 10:10am
								else if i == 3
									td 11:10am
								else if i == 4
									td 1:pm
								else if i == 5
									td 2:30pm
								else if i == 6
									td 3:30pm
								each p in s
									td
										div.title #{p.Name} 
										div.topic #{p.PresTitle}
								if i == 3
									tr
										td 12:00pm
										td Lunch at the Venture Center
										td
										td
										td
						tr
							td 4:30pm
							td Ending Session (Prizes!)
							td
							td
							td
						tr
							td 5:30pm
							td After Party at the Venture Center
							td
							td
							td