extends layout

block content
	.section
		.section-header
			h2 2015 Conference Schedule

	#schedule.container-fluid.section-content
		table.striped.hide-on-med-and-down
			thead
				tr
					th
					th.center-align Fulton	
					th.center-align Pope	
					th.center-align Izard
					th.center-align Miller
			tbody
				tr
					td 7:00am
					td.center-align(colspan="4").talk-title Registration 
				tr
					td 8:30am
					td.center-align(colspan="4").talk-title Opening Session
				each timeSlot in schedule
					tr
						td= timeSlot.time
						each talk in timeSlot.rooms
							td
								a(href="/speakerdetails/##{talk.DetailId}")
									div.title #{talk.PresTitle} 
									div.presenter #{talk.Name} 
						if i == 3
							tr
								td 12:00pm
								td.center-align(colspan="4").talk-title LUNCH
				tr
					td 4:30pm
					td.center-align(colspan="4").talk-title Ending Session (Prizes!)

				tr
					td 5:30pm
					td.center-align(colspan="4").talk-title After Party


		table.bordered.striped.hide-on-large-only
			tbody
				tr
					td 7:00am
					td.center-align.talk-title Registration
				tr
					td 8:30am
					td.center-align.talk-title Opening Session
				tr
					td 9:10am
					td.center-align
						a(href="sessiondetails?session=1")
							span.talk-title Session 1
				tr
					td 10:10am
					td.center-align
						a(href="sessiondetails?session=2")
							span.talk-title Session 2
				tr
					td 11:10am
					td.center-align
						a(href="sessiondetails?session=3")
							span.talk-title Session 3
				tr
					td 12:00pm
					td.center-align.talk-title Lunch
				tr
					td 1:30am
					td.center-align
						a(href="sessiondetails?session=4")
							span.talk-title Session 4
				tr
					td 2:30am
					td.center-align
						a(href="sessiondetails?session=5")
							span.talk-title Session 5
				tr
					td 3:30am
					td.center-align
						a(href="sessiondetails?session=6")
							span.talk-title Session 6
				tr
					td 4:30am
					td.center-align.talk-title Ending Session (Prizes!)
				tr
					td 5:30am
					td.center-align.talk-title After Party
