extends layout

block content
	.container-fluid
		.row.page-banner
			.col-md-12
				ul
					li
						.page-banner-title Agenda
	.container

		.row
			.col-xs-12
				table#schedule.table.table-bordered
					tbody
						tr
							td.time 7:30 - 8:30
							td(colspan=4) 
								span.header Registration. 
								span.subheader Morning refreshments available at Wasabi
						tr
							td 8:30 - 8:40
							td(colspan=4) Introduction
						tr
							td
							td.room Fulton
							td.room Izard
							td.room Miller
							td.room Pope
						tr
							td 8:50 - 9:40
							td.talk 
								+topic("1.1")
							td.talk
								+topic("2.1")
							td.talk
								+topic("3.1")
							td.talk
								+topic("14.1")
						tr
							td 9:50 - 10:40
							td.talk
								+topic("5.1")
							td.talk
								+topic("9.1")
							td.talk
								+topic("4.1")
							td.talk
								+topic("7.1")
						tr
							td 10:50 - 11:40
							td.talk
								+topic("8.1")
							td.talk
								+topic("6.1")
							td.talk
								+topic("9.2")
							td.talk
								+topic("10.1")
						tr
							td 11:50 - 1:20
							td(colspan=4) 
								span Lunch in the Rock
								span.subheader On your own at various local downtown restaurants
						tr
							td 1:30 - 2:20
							td.talk
								+topic("11.1")
							td.talk
								+topic("16.1")
							td.talk
								+topic("13.1")
							td.talk
								+topic("6.2")
								
						tr
							td 2:30 - 3:20
							td.talk
								+topic("17.1")
							td.talk
								+topic("12.1")
							td.talk
								+topic("16.2")
							td.talk
								+topic("15.1")
								
						tr
							td 3:30 - 4:20
							td.talk
								div.TBD
							td.talk
								+topic("19.1")
							td.talk
								+topic("20.1")
							td.talk
								+topic("21.1")
						tr
							td 4:20 - 5:00
							td(colspan=4) Closing and prizes
						tr
							td 5:30 - 9:00
							td(colspan=4) 
								span.header After Party
								span.subheader Downstairs at Flying Saucer

mixin topic(uid)
	- topic = _.find(presentations, {"UID":uid}); 
	a(href="#{topic.Url}")
		span #{topic.Topic}



