extends layout

block content
	.section
		.section-header
			h2 Call For Speakers
			h3 We're seaching for <strong> engaging </strong> talks on the latest technology.

	.container-fluid.section-content
	
		h4 Who should submit talks?
		p Just about everybody can! We encourage anyone who is interested in presenting to complete the form below. We're looking for speakers who are excited about sharing their knowledge and expertise.
		
		h4 But I'm not an expert!
		p You're an expert in something. Have you solved a technical problem using an interesting technique, new technology, or tool? Sharing your experience allows you to deepen your knowledge in that area and help others solve similiar problems. We will have both beginners and advanced IT people present. Remember that even advanced IT people have knowledge gaps and you might be able to help fill those gaps!
		
		h4 What topic areas are we looking for?
		p We're looking for topics covering a wide range of categories. Here's just SOME of the categories to get ideas flowing:
			ul
				li Developers - software development, best practices, new tools, testing, architecture, managing projects and time
				li IT Professionals - server administration, virtualization, database technologies
				li Entrepreneurs - working in startups, contract work, remote work
				li Panel Discussions - two or more people leading discussions on any of the areas above

		h4 What are the sessions like?
		p Sessions are 50-60 minutes each and should be educational and not overtly promotional. We will have 4 sessions going at one time for each time slot. With an attendance of over 200 people (based on last years attendance) split over 4 sessions, you'll have a captive audience. We are planning 15 minute breaks between sessions and ask speakers to aim for 50 minutes speaking so as to allow time for audience questions and comments.

		h4 When are topics selected?
		p The Tech Fest committee will decide which topics will be chosen. If your session is not selected, you may be asked whether you would like to have your session kept as an alternate should a speaker need to cancel a session. The selections will be made later this summer.

		h4 What else should I know?
		p If you feel that your topic can cover 2 - 60 minute sessions, please lets us know in the comments.
		p We plan to have internet access for our speakers and attendees, but as any experienced speaker will tell you - don't depend on it, if possible.
		p The Tech Fest is free to attendees and all funds collected through sponsorship are used to host the event and provide prizes and benefits to the attendees. This means that, unfortunately, we will not be able to pay our speakers or assist with travel expenses. The Little Rock Tech Fest is an all-volunteer conference. No one is paid for their role in helping put on this community conference.

		h3 Thank you!
		<hr>

		#wufoo-z7x3p9.
			Fill out my <a href="http://lrdnug.wufoo.com/forms/z7x3p9"> online form</a>.


block scripts
	script(src='public/js/loadWufoo.js')
