extends layout

block content
	section.section.section-hero.align-center
		.section-header
			h1 Awesome! You're in.

	section.fullwidth-section.section-content
		.container
			.row
				.col-md-6.col-lg-5.align-center.img-column
					iframe(src="https://giphy.com/embed/3NtY188QaxDdC" width="360" height="360" frameBorder="0" class="giphy-embed" allowFullScreen)
				.col-md-5.col-lg-6.align-left
					.article
						h3 We will follow up soon.
						p We're glad you want to help us put on another awesome conference in Little Rock. For now, you can check out the sponsor info page to see our packages for this year.
						a.link-btn.cta(href="/sponsors") Show me the sponsor info!
