extends layout

block content
	section.section.align-center
		.section-header.col-sm-10.col-sm-offset-1
			h1 HIP HIP HOORAY! 
	section.section
		.container
			div.col-sm-6.align-center.img-column
				img(src="https://media.giphy.com/media/h5wKbK4JkOUFy/giphy.gif")
			div.col-sm-6.align-left
				h3 We will follow up soon. 
				p We're glad you want to help us put on another awesome conference in Little Rock.
				p for now, you can check out the sponsor info page to see our packages for this year.
				a(href="/sponsors" class="link-btn" style="margin: 30px 0 0") Show me the sponsor info! 
