extends layout

block content
	section.section.align-center
		.section-header.col-sm-10.col-sm-offset-1
			h1 Awesome! You're in.
	section.section
		.container
			div.col-sm-6.align-center.img-column
				iframe(src="https://giphy.com/embed/3NtY188QaxDdC" width="360" height="360" frameBorder="0" class="giphy-embed" allowFullScreen)
			div.col-sm-6.align-left
				h3 We will follow up soon.
				p We're glad you want to help us put on another awesome conference in Little Rock. For now, you can check out the sponsor info page to see our packages for this year.
				a(href="/sponsors" class="link-btn" style="margin: 30px 0 0") Show me the sponsor info!
