extends layout

block content
	.section
		.section-header
			h2 Sponsorship Opportunities
			h3 We are looking for a few good <strong>sponsors</strong>
			p For more information or to express interest in sponsorship, please email our team at <a href="mailto:sponsors@lrtechfest.com">sponsors@lrtechfest.com</a>.
	
	.container-fluid.section-content

		h4 Sponsorship Levels
		table
			thead
				tr
					td
					td Bronze <br> $500
					td Silver <br> $1000 
					td Gold <br> $2500
					td Platinum <br> $5000
			tbody
				tr
					td Logo on website sponsor page
					td ✔
					td ✔
					td ✔
					td ✔
				tr
					td Recognized during closing session
					td ✔
					td ✔
					td ✔
					td ✔
				tr 
					td Logo on emails
					td 
					td ✔
					td ✔
					td ✔
				tr
					td Logo on shirt
					td 
					td ✔
					td ✔
					td ✔
				tr 
					td Room sponsor
					td 
					td 
					td ✔
					td ✔
				tr
					td Vendor Table*
					td 
					td 
					td ✔
					td ✔
				tr
					td Ad space on emails
					td 
					td 
					td 
					td ✔
				tr
					td Choice of on-site breakfast / lunch / after party sponsorship**
					td 
					td 
					td 
					td ✔

		p *Vendor table space is first-come, limited to 10 vendors. Must indicate desire for table at time of donation. We cannot guarantee space later if you do not reserve at time of donation. Table may be purchased with bronze or silver sponsorship for an additional $300.
		p **Only one sponsor per meal.
