extends layout

block content
	.section
		.section-header
			h2 Sponsorship Opportunities
			h3 We are looking for a few good <strong>sponsors</strong>

	.container-fluid.section-content

		h4 Sponsorship levels for 2015 coming soon.
		p In the meantime, email us at <a href="mailto:sponsors@lrtechfest.com?Subject=TechFest">sponsors@lrdnug.org</a>