extends layout

block content
	section.section.align-center
		.section-header.col-sm-10.col-sm-offset-1
			h1 Become a sponsor of Little Rock Tech Fest

	section.fullwidth-section
		div.fullwidth-path
			div(class="fullwidth-section-bg bg-right" style="background-image: url('/public/img/backgrounds/attendees.jpg')")
			div.col-sm-6.align-right.fullwidth-column
				article
					h2 This conference won't be awesome without your help.
					p
						small.text-alt Show the Central and Greater Arkansas developer community you love them.
					p Help us make this Little Rock Tech Fest the best yet. Last year, we had 425 developers attend. With two days of content, we need your help to make sure everyone is comfortable, fed, and entertained. In exchange for your help, we'll show your organization lots of love too. 
					//- p Last year we had 425 developers attend our event. Let us promote you through our email list, our social media presence, and at the event.
					a(href="mailto:sponsors@lrtechfest.com?subject=I have a question about sponsoring LRTF" class="link-btn" style="margin: 30px 0 0") Have a question about sponsorship? 
					

	section
		.row.align-center.btns-block
			a(href="mailto:sponsors@lrtechfest.com?subject=I want to sponsor LRTF" class="btn btn-lg") Become a Sponsor
		.row
			div.col-md-8.col-md-offset-2
				h4#spr-benf Sponsorship Levels
				table.table
					thead
						tr
							td 
							td Bronze <br> $500
							td Silver <br> $1500 
							td Gold <br> $3000
							td Platinum <br> $6000
					tbody
						tr
							td Logo on website
							td ✔
							td ✔
							td ✔
							td ✔
						tr
							td Job postings on our website
							td ✔
							td ✔
							td ✔
							td ✔
						tr 
							td Logo Size
							td sm
							td lg
							td lg
							td xl
						tr
							td Attendee Passes
							td -
							td 2
							td 4
							td 8
						tr 
							td Booth Worker Passes
							td -
							td 2
							td 3
							td 4
						tr
							td Logo on emails
							td 
							td ✔
							td ✔
							td ✔
						tr
							td Logo on shirt
							td 
							td ✔
							td ✔
							td ✔
						tr
							td Vendor Table*
							td 
							td ✔
							td ✔
							td ✔
						tr
							td Collateral in attendee bags
							td
							td ✔
							td ✔
							td ✔
						tr
							td Room sponsors**
							td
							td
							td ✔
							td ✔
						tr
							td Logo on attendee bags
							td
							td
							td
							td ✔
						tr
							td Logo on conference badge
							td
							td
							td
							td ✔
						tr
							td Banner ad space on emails
							td
							td
							td
							td ✔
						tr
							td Micro event sponsorship. Choice of: breakfast, lunch, after party***
							td
							td
							td
							td ✔
		.row
			div.col-md-8.col-md-offset-2
				p *Vendor table space is first­come, limited to 10 vendors. Must indicate desire for table at time of donation. We cannot guarantee space later if you do not reserve at time of donation. Tables are not available with Bronze sponsorship. Additional booth worker passes $50 each.
				p **Do up a conference room with your company’s brand. Limited availability. 3 rooms. First come, first serve.
				p ***Only one sponsor per meal.
		.row.align-center.btns-block
			a(href="mailto:sponsors@lrtechfest.com?subject=I want to sponsor LRTF" class="btn btn-lg" style="margin-top:40px") Become a Sponsor
