extends layout

block content
	section.section.align-center
		.section-header.col-sm-10.col-sm-offset-1
			h1 &lt;sad face /&gt;


	section.section
		.container
			div.col-sm-6.align-center.img-column
				iframe(src="https://giphy.com/embed/26BRuo6sLetdllPAQ" width="480" height="335" frameBorder="0" class="giphy-embed" allowFullScreen)
			div.col-sm-6.align-left
				h3 We know it's not possible for everyone to support us every year.
				p We hope that you'll still attend in October and help us spread the word.
				p If you change your mind, we'll be happy to take you back.
				a(href="/" class="link-btn" style="margin: 30px 0 0") Go to homepage
