extends layout

block content
	section.section.align-center
		.section-header.col-sm-10.col-sm-offset-1
			h1 &lt;sad face /&gt; 
			
			
	section.section
		.container
			div.col-sm-6.align-center.img-column
				img(src="https://media.giphy.com/media/V1D731Woq2tkA/giphy.gif?response_id=592332df3752c03ea9de381c")
			div.col-sm-6.align-left
				h3 It's okay. We're not for everyone, every year. 
				p We hope that you'll still attend in October and help us spread the word.
				p If you change your mind, we'll be happy to take you back.
				a(href="/" class="link-btn" style="margin: 30px 0 0") Go to homepage 
