extends layout

block content
	.container-fluid
		.row.page-banner
			.col-md-12
				ul
					li
						h1 Sponsors
					//li
						a(class="btn btn-primary btn-sm" href="/sponsors")
							i.fa.fa-star.fa-lg
							span Our Sponsors
					li 
						a(class="btn btn-primary btn-sm" href="/become-sponsor")
							i.fa.fa-check.fa-lg
							span Become a Sponsor
	block sponsor-content
