extends layout

block content
	section.section.section-hero.align-center
		.section-header
			h1 2018 Session Lineup
	
	section.fullwidth-section.section-content
		.container
			.row
				.col-md-7.col-lg-6.align-center.img-column
					iframe(src="https://giphy.com/embed/QzY1VsAp0isdq" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen)
				.col-md-5.col-lg-6.align-left
					.article
						h3 We're working on it!						
						p The 2018 Little Rock Tech Fest Conference is getting ready for our sixth year being hosted in Central Arkansas. This year's conference will be on #[strong Oct 4th] and #[strong 5th] at the Little Rock Statehouse Convention Center.
						p For the past five years, our audience has primarily consisted of professional software developers who are focused on learning and improving their knowledge in the industry. First round of speaker notifications will be made on August 1st and later entries will be made by Sept. 7th.
						a.btn.cta(href="https://www.papercall.io/lrtf2018" target="new") Become A Speaker!
