extends layout

block content
	section.section.section-hero.align-center
		.section-header
			h1 2018 Session Lineup
	
	section.fullwidth-section.section-content
		div.container.fullwidth-path(style="padding: 80px 0")
			div.col-sm-6.align-center.img-column(style="padding-top: 0px")
				iframe(src="https://giphy.com/embed/QzY1VsAp0isdq" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen)
			div.col-sm-6.align-left
				.article(style="max-width: 480px")
				h3 We're working on it!
				//-p
					small.text-alt OCTOBER 4 - 5, 2018						
				p The 2018 Little Rock Tech Fest Conference is getting ready for our year being hosted in Central Arkansas. This year's conference will be on #[strong Oct 4th] and #[strong 5th] at the Little Rock Statehouse Convention Center.
				p For the past five years, our audience has primarily consisted of professional software developers who are focused on learning and improving their knowledge in the industry. First round of speaker notifications will be made on August 1st and later entries will be made by Sept. 7th.

				a(href="https://www.papercall.io/lrtf2018" class="btn" style="margin: 30px 0 0" target="new") Become A Speaker!
