extends layout

block content
	.container-fluid
		.row.page-banner
			.col-md-12
				ul
					li
						.page-banner-title Venue
	.container
		.row
			.col-md-4
				.row.location-box
					.location-icon.fa.fa-map-marker
					.location-title Location
					p.location-text
						span Statehouse Convention Center 
						span 426 W Markham St
						span Little Rock, AR 72201
				.row.location-box
					.location-icon.fa.fa-car
					.location-title Parking
					p.location-text 
						span All-day parking is available for $5.00 at <b> 2nd at Main Public Parking</b>. It's located one block south of the convention center at 2nd and Main.
				.row.location-box
					.location-icon.fa.fa-coffee
					.location-title Breakfast
					p.location-text
						span Before heading into the convention center, make sure to stop in <b>Wasabi Bar and Grill</b> at the corner of Main and President Clinton Boulevard for free coffee and pastries.
				.row.location-box
					.location-icon.fa.fa-moon-o
					.location-title Lodging
					p.location-text
						span We have a room block available for our out-of-town guests at the <b>Little Rock Marriot</b>. To get our group rate of $99.00 a night, reserve your room using <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=LITTLE%20ROCK%20TECH%20FEST%20%5ELITPB%60LNULNUA%60$99.00%60USD%60false%609/25/14%609/27/14%609/11/14&app=resvlink&stop_mobi=yes" >this link</a>
				
			.col-md-8
				#parking-map
					iframe(src="https://www.google.com/maps/embed/v1/place?q=Statehouse%20Convention%20Center%2C%20East%20Markham%20Street%2C%20Little%20Rock%2C%20AR%2C%20United%20States&key=AIzaSyASVciuCe5Nsiv4qB0RaHWc5rSPMQx5tFg")

		.row
			.col-md-12
				.row-location-box
					.location-icon.fa.fa-cutlery
					.location-title Lunch
					p.location-text
						span Below are local restaurants that have offered a discount to Little Rock Tech Fest Attendees during our lunch break.  You will need to show your name badge to receive the discount listed.
		.row
			.col-md-4.col-sm-6.col-xs-12
				h5 Boulevard Bread Co.
					p
						span 400 President Clinton Ave<br>
						a(href="http://www.boulevardbread.com/")
							span http://www.boulevardbread.com/<br>
						span <b>Menu Type:</b> European Style Bakery and Sandwiches<br>
						span <b>Discount:</b> 20% off (excluding wine and beer)<br>
			.col-md-4.col-sm-6.col-xs-12
				h5 Gus's Fried Chicken
					p
						span 300 President Clinton Ave, Suite D<br>
						a(href="http://gusfriedchicken.com/")
							span http://gusfriedchicken.com/<br>
						span <b>Menu Type:</b> Fried Chicken<br>
						span <b>Discount:</b> A 3 piece dark with 2 sides for $5.99<br>
			.col-md-4.col-sm-6.col-xs-12
				h5 Gusano’s Little Rock
					p
						span 313 President Clinton Ave<br>
						a(href="http://www.gusanoslr.com/")
							span http://www.gusanoslr.com/<br>
						span <b>Menu Type:</b> Chicago-Style Pizzas, Traditional Pizzas, Salads, Sandwiches, Wraps, and more.<br>
						span <b>Discount:</b> An 8” one topping traditional pizza, a small lunch salad, and a drink for $5.99 or $3.00 off any large pizza<br>
			.col-md-4.col-sm-6.col-xs-12
				h5 Mason’s Deli and Grill
					p
						span 400 President Clinton Ave<br>
						span <b>Menu Type:</b> Sandwiches / Subs<br>
						span <b>Discount:</b> 10% off<br>
			.col-md-4.col-sm-6.col-xs-12
				h5 Rivershore Eatery
					p
						span 400 President Clinton Ave<br>
						span <b>Menu Type:</b> BBQ, Pizza / Italian<br>
						span <b>Discount:</b> 10% off<br>
			.col-md-4.col-sm-6.col-xs-12
				h5 The Hop Diner
					p
						span 201 E Markham St<br>
						a(href="http://www.hopdiner.com")
							span http://www.hopdiner.com<br>
						span <b>Menu Type:</b> American Cuisine<br>
						span <b>Discount:</b> 10% off<br>
			.col-md-4.col-sm-6.col-xs-12
				h5 Wasabi Bar &amp; Grill 
					p
						span 101 Main St<br>
						span <b>Menu Type:</b> Japanese, Sushi<br>
						span <b>Discount:</b> 10% off<br>

