extends layout

block content
	.container-fluid
		.row.page-banner
			.col-md-12
				ul
					li
						.page-banner-title Venue
	.container
		.row
			.col-md-4
				.row.location-box
					.location-icon.fa.fa-map-marker
					.location-title Location
					p.location-text
						span Statehouse Convention Center 
						span 426 W Markham St
						span Little Rock, AR 72201
				.row.location-box
					.location-icon.fa.fa-car
					.location-title Parking
					p.location-text 
						span All-day parking is available for $5.00 at <b> 2nd at Main Public Parking</b>. It's located one block south of the convention center at 2nd and Main.
				.row.location-box
					.location-icon.fa.fa-coffee
					.location-title Breakfast
					p.location-text
						span Before heading into the convention center, make sure to stop in <b>Wasabi Bar and Grill</b> at the corner of Main and President Clinton Boulevard for free coffee and pastries.
			.col-md-8
				#parking-map
					iframe(src="https://www.google.com/maps/embed/v1/place?q=Statehouse%20Convention%20Center%2C%20East%20Markham%20Street%2C%20Little%20Rock%2C%20AR%2C%20United%20States&key=AIzaSyASVciuCe5Nsiv4qB0RaHWc5rSPMQx5tFg")