extends layout

block content
	.container-fluid
		.row.page-banner
			.col-md-12
				ul
					li
						.page-banner-title Venue
	.container
		.row
			.col-md-4
				.row.location-box
					.location-icon.fa.fa-map-marker
					.location-title Location
					p.location-text
						span 2801 S University Ave 
						span Donaghey Student Center 
						span Little Rock, AR 72204
				.row.location-box
					.location-icon.fa.fa-car
					.location-title Parking
					p.location-text 
						span Please park in the parking deck
			.col-md-8
				#parking-map
					a(href="http://i.imgur.com/5j7ME0V.png")
						img(src="http://i.imgur.com/5j7ME0V.png")