extends layout

block content
	.container-fluid
		.row.page-banner
			.col-md-12
				ul
					li
						.page-banner-title Venue
	.container
		.row
			span.h2.fa.fa-map-marker
			span.h2 Location
		.row
			span Donaghey Student Center, UALR, 
			span 2801 S University Ave, Little Rock, AR 72204
		.row
			span.h2.fa.fa-car
			span.h2 Parking
		.row
			span Please park in the parking deck
		.row
			img(src="http://i.imgur.com/5j7ME0V.png")