li {
  text-align: left;
}

section#main {
  min-height: 600px;
}

.bg1 {
  background: #11253D;
}

#about {
  background: #fff;
}

.video-bg {
  opacity: 0.085;
}
.video-bg video {
  -moz-transform:scale(1.5);
  -webkit-transform:scale(1.5);
  -o-transform:scale(1.5);
  -ms-transform:scale(1.5);
  transform:scale(1.5);
}

.sponsors {
  max-width: 900px;
  margin: 0 auto;
}
.sponsors h5 {
  margin: 25px 0 0;
}
.sponsor.inline img {
  max-width: 250px;
}
.sponsor.silver.inline img {
  max-height: 90px; 
  max-width: 225px;
}
.sponsor.small img {
  max-width: 165px; 
  max-height: 80px;
}

.speaker img {
  width: 200px
}

a.logo {
  height:80px;
}

.jumptarget::before {
  content:"";
  display:block;
  height:100px; /* fixed header height*/
  margin:-100px 0 0; /* negative fixed header height */
}

a#apply {
  margin: 0 20px;
}

.logo-pad {
  padding-left: 5px;
  padding-right: 10px;
}

.btn {
  margin: 0;
}
.btns-container .btn {
  margin: 0 7px;
}
.article .btn.cta,
.article .link-btn.cta {
  margin: 30px 0 0;
}

.btn-primary[disabled] {
  background-color:#63a145;
  border:none;
}

.sponsor.platinum.inline img {
  max-width: 350px
}

#main {
  min-height: 650px;
}

.header {
  margin-bottom:15px;
}

.modal-box.iframe-box .close-btn {
  background-color: rgba(99, 161, 69, 0.6);
}
.modal-box .close-btn:not(:hover) {
  color: #FFF;
}

/*
.section {
  padding: 50px 0px;
}
*/

.heading-block {
  padding: 150px 0 100px;
}

.section.section-hero {
  padding: 10px 0 0;
}

div.article {
  padding: 40px 0;
}

.section#tickets, 
.section#speakers, 
.section#sponsors {
	padding-top: 20px;
}

.section-content {
  min-height: 600px;
}

.fullwidth-section.section-content .fullwidth-column {
  padding: 50px 73px 85px;
}

.make-column { 
  float: none; 
  display: inline-block; 
  margin: 0 0 -0.125em; 
  vertical-align: top;
}

#jobDesc ul{
  list-style: circle;
  margin-left: 22px;
}
#jobs .row:hover{
  background-color:#C5DFB3;
}
#jobs .post-job {
    margin-top: 20px;
}

.error-code{
  font-size: 100pt;
  color: #C5DFB3;
}

.disabled {
 pointer-events: none;
 cursor: default;
 opacity: 0.6;
}
.map-res{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-res iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.Ballroom.A {
  color: #FF0000;
}
.Ballroom.B {
  color: #0000FF;
}
.Ballroom.C {
  color: #009900;
}

/* Extra Small */
@media(max-width:767px){
  a.logo {
    height:50px;margin-top: 0;
  }
  #jobs .post-job {
    margin-top: 0px;
  }
  .section-content {
    margin-top:20px;
  }
}

/* Small */
@media(min-width:768px) and (max-width:991px){

}


/* Medium */
@media(min-width:992px) and (max-width:1199px){
  .article h3 {
    font-size: 45px;
  }
}

/* Large */
@media(min-width:1200px){

}
@media(max-width:1199px) {
  .btns-container .btn {
    display: block;
    margin: 20px;
  }
}