
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

li {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-size: 16px;
}

ul.styled.disc {
  list-style: disc;
  margin-left: 20px;
}

section#main {
  min-height: 600px;
}

#main {
  min-height: 650px;
}

.bg1 {
  background: #11253D;
}

#about {
  background: #fff;
}

.video-bg {
  opacity: 0.085;
}
.video-bg video {
  -moz-transform:scale(1.5);
  -webkit-transform:scale(1.5);
  -o-transform:scale(1.5);
  -ms-transform:scale(1.5);
  transform:scale(1.5);
}

.lead {
  font-weight: 300;
}
.header .buy-btn {
  margin-top: 30px;
}
a.navigation-link,
a.pull-right.buy-btn {
  font-size: 14px;
}
#about p.lead {
  padding: 15px 0 10px;
}
#speakers p.lead,
#gallery p.lead,
#sponsors p.lead {
  padding: 10px 0 40px;
}

#sponsors .heading-alt {
  padding: 20px;
}

.sponsors {
  margin: 0 auto;
}
.sponsors h5 {
  margin: 25px 0 0;
}
.sponsor.inline img {
  max-width: 275px;
}
.sponsor.silver.inline img {
  max-height:110px;
  max-width: 220px;
}
.sponsor.small img {
  max-width: 140px;
  max-height: 85px;
}
.sponsor.platinum:not(.inline):not(.big) {
  width: 400px;
  height: 400px;
  margin-right: 25px;
}
.sponsor.gold:not(.inline):not(.big) {
  width: 300px;
  height: 300px;
  margin-right: 25px;
}
.sponsor.silver:not(.inline):not(.big) {
  width: 250px;
  height: 250px;
  margin-right: 25px;
}
.sponsor.bronze:not(.inline):not(.big) {
  width: 175px;
  height: 175px;
  margin-right: 50px;
}
.speaker img {
  width: 200px
}

a.logo {
  height:80px;
}

.jumptarget::before {
  content:"";
  display:block;
  height:100px; /* fixed header height*/
  margin:-100px 0 0; /* negative fixed header height */
}

a#apply {
  margin: 0 20px;
}

.logo-pad {
  padding-left: 5px;
  padding-right: 10px;
}

.btn {
  margin: 0;
}
.btns-container .btn {
  margin: 0 7px;
}
.article .btn.cta,
.article .link-btn.cta {
  margin: 30px 0 0;
}

.btn-primary[disabled] {
  background-color:#63a145;
  border:none;
}

.nl2br {
  white-space: pre;
  white-space: pre-line;
}
.modal-box.iframe-box .close-btn {
  background-color: rgba(99, 161, 69, 0.6);
}
.modal-box .close-btn:not(:hover) {
  color: #FFF;
}

.heading-alt .date {
  display: inline;
}

.heading-alt .loc {
  margin: 0 0 0 24px;
  display: inline;
}

.heading-block {
  padding: 150px 0 100px;
}

.section.section-hero {
  padding: 10px 0 0;
}

div.article {
  padding: 40px 0;
}

.section#tickets,
.section#speakers,
.section#sponsors {
	padding-top: 20px;
}

.section-content {
  min-height: 600px;
}

.fullwidth-section.section-content .fullwidth-column {
  padding: 50px 73px 85px;
}

.make-column {
  float: none;
  display: inline-block;
  margin: 0 0 -0.125em;
  vertical-align: top;
}

#speakerDesc {
  padding-top:40px;
}

#speakerDesc .presentation {
  margin-bottom:30px;
}

#jobDesc ul{
  list-style: circle;
  margin-left: 22px;
}
#jobs .row:hover{
  background-color:#C5DFB3;
}
#jobs .post-job {
    margin-top: 20px;
}

#jobs .post {
  padding: 8px 0;
}

#jobs .post .logo {
  padding: 8px 0;
}

.error-code{
  font-size: 100pt;
  color: #C5DFB3;
}

.disabled {
 pointer-events: none;
 cursor: default;
 opacity: 0.6;
}
.map-res{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-res iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.Ballroom.A {
  color: #FF0000;
}
.Ballroom.B {
  color: #0000FF;
}
.Ballroom.C {
  color: #009900;
}

.schedule .tab-content-schedule:before {
  border-right: none;
}
.schedule .tab-content-schedule {
  position: relative;
  border: none;
  padding: 20px;
}
.schedule .tab-content-schedule .schedule-item {
  padding: 0 0 0 60px;
}
.schedule-item .speaker {
  margin-bottom: 0;
}
.schedule .tab-content-schedule .schedule-item {
  padding: 10px;
}
.schedule-item .speaker p strong {
  font-size: 14px;
  color: #262627;
  font-weight: 600;
}
.schedule-item .speaker .photo-wrapper.rounded {
  max-width: 55%;
  vertical-align: top;
  display: block;
  clear: both;
}
table.schedule > tbody > tr > td {
  border-width: 4px;
  border-color: #ddd;
}
table.schedule > thead > tr > th {
  border-color: #63a145;
  border-width: 0 4px 0;
  border: solid!important;
  font-size: 18px;
  text-align: center;
}
table.schedule td.speaker-cell {
  vertical-align: top;
  text-align: center;
  padding: 5px;
}
.small-only {
  display: none;
  visibility: hidden;
}

.speakers .masonry .masonry-item {
  width: 25%;
  height: 165px;
  display: block;
  margin: 0 auto;
}

ul.footer-nav,
.footer .socials-nav,
.footer .socials-nav + p {
  margin-top: 42px;
  float: left;
}

.footer .endorsement {
  max-width: 75%;
}

/* Extra Small */
@media (max-width: 767px){
  .small-only {
    display: block;
    visibility: visible;
  }
  .large-only {
    display: none;
    visibility: hidden;
  }
  a.logo {
    height:50px;margin-top: 0;
  }
  #jobs .post-job {
    margin-top: 0px;
  }
  .section-content {
    margin-top:20px;
  }
  .heading-alt .date {
    display: block;
  }
  .heading-alt .loc {
    display: block;
    margin-top: 10px;
  }
  h1.extra-heading {
    padding: 20px 0;
  }
  .navigation-link {
    margin: 0 35px;
  }
  .heading-block {
    padding: 50px 0 25px;
  }
  .socials-nav {
    margin-top: 40px;
  }
  .schedule-item .speaker {
    font-size: 18px;
  }
  .schedule-item .speaker .photo-wrapper.rounded {
    max-width: 36%;
  }
  table.schedule > tbody > tr > td.st-key {
    font-size: 16px;
  }
  table.schedule > tbody > tr > th.st-head-row {
    border-width: 4px;
    border-color: #ddd;
  }
  table.schedule > tbody > tr > th.st-head-row h6 {
    padding: 5px 0 0;
    font-size: 30px;
  }
  .sponsor.platinum:not(.inline):not(.big) {
    width: 375px;
    height: 375px;
    margin-right: 0;
  }
  .footer-nav > li {
    padding: 10px 0;
  }
  .footer .endorsement {
    max-width: 35%;
  }  
}

/* Small */
@media(min-width:768px) and (max-width:991px){
  .heading-block {
    padding: 100px 0 20px;
  }
  h1.extra-heading {
    padding: 20px 0;
  }
  .heading-alt .date {
    display: block;
  }
  .heading-alt .loc {
    display: block;
    margin-top: 10px;
  }
  a.pull-right.buy-btn {
    font-size: 0;
  }
  .sponsor.platinum:not(.inline):not(.big) {
    margin-right: 0;
  }
  .footer-nav > li {
    padding: 10px 0;
  }
  .footer .endorsement {
    max-width: 20%;
  }
}


/* Medium */
@media(min-width:992px) and (max-width:1199px){
  #about .col-sm-6 {
    padding-right: 45px;
  }
  .article h3 {
    font-size: 45px;
  }
  .heading-block {
    padding: 120px 0 50px;
  }
  .heading-alt .date {
    display: block;
  }
  .heading-alt .loc {
    display: block;
    margin-top: 10px;
  }
  ul.footer-nav, 
  .footer .socials-nav, 
  .footer .socials-nav + p {
    margin-top: 18px;
  }
}

/* Large */
@media(min-width:1200px){
  #about .col-sm-6 {
    padding-right: 45px;
  }
}
@media(max-width:1199px) {
  .btns-container .btn {
    display: block;
    margin: 20px;
  }
}