#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
#mc-embedded-subscribe{margin: 0 !important;}
#sign_up form {
    padding: 25px 12px;
}
.sponsor.inline img {max-width: 250px;}
.sponsor.silver.inline img {max-height: 90px; max-width: 225px;}


.sponsor.small img {max-width: 165px; max-height: 80px;}

.speaker img {width: 200px}


a.logo {
  height:80px;
}

.section#tickets {
	padding-top: 20px;
}
.make-column { float: none; display: inline-block; margin: 0 0 -0.125em; vertical-align: top;}





/* Extra Small */
@media(max-width:767px){
  a.logo {
    height:50px;margin-top: 0;
  }
}

/* Small */
@media(min-width:768px) and (max-width:991px){

}

/* Medium */
@media(min-width:992px) and (max-width:1199px){

}

/* Large */
@media(min-width:1200px){

}
