/*
orange: #fe4918
green: #7db660;
blue: #4918fe;
light orange #fead97
*/

body { font-family: 'Roboto', sans-serif; font-weight: 100; font-style: normal; padding-top: 50px }
.btn { font-family: 'Roboto', sans-serif; font-weight: 600; font-style: normal; }

body { color: #000; font-size: 11pt; background: #fff; margin: 0; }
p {font-size:11pt; line-height: 20pt; font-weight:300;}

h1, h2, h3, h4, h5 {font-weight: 100px; display: block}
h4, h5, h6 {margin-top: 10px;}
h3 {font-size: 40px}
h4 {font-size: 32px}
h5 {font-size: 24px}

.page-title {margin-bottom: 40px}
.page-title p {margin-left: 20px; font-size: 24px; }
.page-content p {margin-bottom: 20px; font-size: 14pt}

.panel .panel-heading {background-color: #fe8564}
.panel .panel-heading .panel-title {font-weight: 600; color:black}

.btn { border: 0px; background: transparent; }
.btn:Hover { opacity: 1; }
.btn-lg { font-size: 28px; }
.btn-sm { font-size: 14px; }
.btn .fa {opacity: .4; color: #000; margin-right: 10px;}
.btn-lg span {position: relative; top:-6px;}
.btn-sm span { position: relative; }
.btn-primary { opacity: 1;  color: #fff; background: #fe4918}
.btn-secondary {opacity: 1; background: #7db660; color: #fff; }
.btn-primary:hover{ background: #000 !important; color: #fff; }
.btn-primary:hover .fa {color:white;}

.navbar .btn {border:0px}
.navbar .fa  {color: #fff; opacity: .4; margin-right: 10px;}
.navbar .btn-primary { color: #000; background: transparent}
.navbar .btn-primary:hover{ background: #fe4918 !important; color: #fff; }

.navbar {min-height: 40px}
#navbar-logo {height:40px; position: relative; top: -5px;}
.navbar-inverse .navbar-nav>li>a span {color:white;}
.navbar .navbar-nav .btn {margin-right:5px; text-align:left}
.navbar .navbar-nav .btn span {top:-5px;}
.navbar-inverse .navbar-nav>li>a.social {color:white;}
.navbar-inverse .navbar-nav>li>a:hover.social {color:#999;}
.navbar .social {margin-right: 10px; font-size:14px}

.navbar .dropdown > i {display:inline-block}
.navbar .dropdown > a {display:inline-block; font-size:14px; font-weight:600}
.navbar .dropdown > a > span {position:relative; top:-5px}

#announcement-content {
	background: url('../img/lrskyline-small.jpg') center center no-repeat;
	-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; 
	background-size: cover; background-attachment: fixed; 
	overflow:hidden; margin-bottom: 0px;
	color:#fff;
	padding-top: 50px;
	padding-bottom: 50px
}
#landing h1 { font-family: 'Ubuntu', sans-serif; font-size: 100pt; text-transform: uppercase; line-height: 100px; margin-bottom: 25px; }
#landing h2 { font-family: 'Ubuntu', sans-serif; font-size: 50pt; text-transform: uppercase; }
#landing button {margin-left: 10px}

#time-place .time-place-inner { font-size: 18pt; font-weight:300; display: inline-block; margin: 0 20px 15px; position: relative; top: -12px; }
#time-place .fa {margin: 0px 10px 0px 0px; font-size: 20pt; top: -3px;}
#time-place .sep { width: 15px; display: inline-block; }
#time-place hr { width: 11%; border: 0; border-top: 1px solid #FFF; display: inline-block; }


#timer-div {margin-bottom: 50px}
.is-countdown {background-color: transparent;}

#mce-EMAIL {font-size: 28; color:black; min-width: 300px}

#sponsors-content {background-color: white; color: black;}
#sponsors-content a {color:inherit; text-decoration:none}
#sponsors-content .sponsor-header {background-color: #7db660; color: black; padding-bottom: 20px}
#sponsors-content .logo-row {margin-top: 10px; }
#sponsors-content .logo-container {padding: 20px; border:1px solid #d8d8d8; margin-left:10px; margin-right: 10px; margin-top: 20px; display:inline-block}
#sponsors-content .logo-frame { overflow:hidden; height: 250px; width: 250px; text-align:center}
#sponsors-content .logo-img { display:inline-block; height:100%; vertical-align:middle}
#sponsors-content  img {width: 250px;  max-height:250px; vertical-align:middle}
#sponsors-content .your-logo-here{border: 3px dashed black; text-align: center; height: 250px; width:250px; background-color:lightgray; padding:10px; background-clip: padding-box;}
#sponsors-content .level{ margin-bottom: 20px; font-size: 18px; font-weight: 500; text-align:center;}
#sponsors-content .level span{ position:relative; top: -3px}
#sponsors-content .fa {margin-top: 2px; margin-left: 8px; margin-right: 8px; font-size: 1.4em; }
#sponsors-content .fa.platinum {color:#E5E4E2; }
#sponsors-content .fa.gold {color:#FFDF00; }
#sponsors-content .fa.silver {color:#C0C0C0; }
#sponsors-content .fa.bronze {color:#CD7F32; }

.page-banner{background-color: #7db660; margin-bottom: 30px;}
.page-banner-title {font-size: 36px; font-weight: 500; display: inline; vertical-align: middle; padding-bottom: 10px}
.page-banner .btn {padding-bottom:10px; padding-top: 20px}
.page-banner ul {list-style-type: none; margin-bottom: 0px}
.page-banner ul li {display: inline; padding-right: 20px;}
.page-banner .btn-primary:hover{ background: #4918fe !important; color: #fff; }

#become-sponsor {text-align:center; display:block}
#become-sponsor .btn {display: block}
	
.sponsor-table th {font-size: 16pt; text-align:center }
.sponsor-table th .price {font-size: 12pt}
.sponsor-table td { font-size: 14pt; font-weight: 500}
.sponsor-table td.check {text-align:center}

.special-sponsorship {border:1px solid black; padding:10px; margin:5px;  border-radius:10px; background-color: #7db660}
.special-sponsorship .info {text-align:left; ;}
.special-sponsorship .type {font-size: 14pt; font-weight:800;}
.special-sponsorship .price {font-size: 11pt; font-weight:300; text-wrap:avoid}
.special-sponsorship i {float:left; margin:10px}

.speaker-question {}
.speaker-answer {font-size:11pt; line-height: 20pt; font-weight:300;}

.location-box {margin-bottom:20px; margin-left:10px}
.location-icon {margin-right:10px; display:inline-block; font-size:30px;}
.location-title {font-weight: 400; font-size:30px; display:inline-block}
.location-text span{ display:block; margin-left:8px}

#parking-map iframe {width:600px; height:450px; border:5px solid black; border-radius:10px}

.speaker .photo {margin-bottom: 10px; }
.speaker .photo img {max-width: 200px; border-radius:50px; box-shadow: -10px 10px 50px #888888;}
.speaker .name {font-size: 32px; font-weight: 300; line-height: 1; margin-bottom:10px}
.speaker .website {margin-left: 10px}
.speaker .section-title {font-size: 18px; font-weight: 700; margin-bottom: 7px}
.speaker .section-content {line-height:1.2}
.speaker .section-content p {line-height:1.2}
.speaker .fa {margin-bottom: 8px; font-size: 18px; font-weight:300}
.speaker .fa a {margin-left: 10px; margin-right: 20px; margin-bottom: 10px}
.speaker hr {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

#footer {margin-bottom: 50px}


/* Mobile device */


@media (max-width: 991px) {
	#navbar-techfest .fa{font-size: 1.5em}
	.navbar {min-height: 50px}
	#navbar-logo {height:40px; top: -8px;}
	.navbar .navbar-nav .btn {margin-right:5px; }
	.navbar .navbar-nav .btn span {top:-4px;}
	.navbar .social {margin-right: 2px; font-size:20px}
	body {padding-top: 50px;}
	#navbar-techfest a {padding-left: 8px; padding-right: 8px;}
	#time-place .time-place-inner {  margin: 0; position: static; }
	#time-place  hr { width: 70%; display: block; margin-top: 5px; margin-bottom: 5px; font-size:18px}
	}

@media (max-width: 767px) {
	#landing .btn { margin: 0px 0px 15px 0px; }
	#landing h1 {
  font-size: 80px;
  text-transform: uppercase;
  line-height: 70px; 
  margin-top: 10px;
  margin-bottom: 0px;
  }
	#become-sponsor {text-align:left; display:inline; margin-bottom:30px}
	#become-sponsor .btn {display: inline-block}
}

/*This is the point that we go down to one column of sponsors*/
@media (max-width: 640px){
		#sponsors-content .logo-row {text-align:center}
		#parking-map iframe {width:400px; height:307px; }
}

@media (max-width: 480px) {
	#landing .btn { margin: 0px 0px 15px 0px; }
	#landing h1 { font-size: 50px !important; line-height: 70px; margin-top: 10px;} 
  #landing h2 {font-size: 24pt; margin: 0px 0px 20px 0px;}
	#landing h3 {font-size: 18pt; margin: 0px 0px 20px 0px;}
	#landing h4 {font-size: 14pt; margin: 0px 0px 20px 0px;}

	#sponsors-content .sponsor-header {padding-left: 10px; padding-right: 10px}
	#sponsors-content .logo-container {padding: 15px; margin-left:0px; margin-right: 0px}
	#sponsors-content .logo-frame { height: 200px; width: 200px; }
	#sponsors-content  img {width: 200px;  max-height:200px;}
	#sponsors-content .your-logo-here{ height: 200px; width:200px; padding:10px; }
	#sponsors-content .level{ margin-bottom: 20px; font-size: 20px; font-weight: 500; margin-left:-15px; margin-right:-15px;}
	#sponsors-content .level span{  top: -3px}
	#sponsors-content .fa {margin-top: 2px; margin-left: 8px; margin-right: 8px; font-size: 1.4em;}

	#parking-map iframe {width:300px; height:230px; }
}

/* Tablet device */
@media (max-width: 991px) and (min-width: 768px) {
	#landing h1 { font-size: 130px; }
}

/* Desktop small screen */
@media (min-width: 992px) {
	
}

/* Desktop large screen */
@media (min-width: 1200px) {
	.container {
		width: 970px;
	}
}

#footer {
	padding-top: 10px;
	text-align: center;
	font-size: small;
}