/*
orange: #fe4918
green: #7db660;
blue: #4918fe;
light orange #fead97
*/

body {  font-family: 'Roboto', sans-serif; color: white; background: url("../img/dark_dotted.png") repeat;}

h1 { font-size: 4em; font-weight: bold}
h2 { font-size: 3em; font-weight: bold}
h3 { font-size: 2em}
h4 { font-size: 1.5em}
p  { line-height: 1.4}

.header { padding: 20px; }
.header h1 { display: inline-block; margin-left: 30px;}
.header img {position: relative; top: -20px;}

.alert-warning {background-color: #fe4918; color: black; }

.section-header{background-color: #7db660; color: black; padding: 20px;}
.section-content{ background-color: white; color: black; padding: 20px;}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.navbar { color: #000; background: black; font-weight: bold; margin-bottom:0px; border:none;border-radius:0;}
.navbar-brand img {position: relative; height: 40px; top: -8px;}
.navbar .fa  {color: #fff; opacity: .4; margin-right: 10px; position:relative; top: 4px;}
.navbar-nav .btn-primary {color: #000; background: transparent}
.navbar-nav>li>a.btn{ border:0px;   font-weight: bold; text-align: left}
.navbar-nav>li>a.btn:hover{ background: #fe4918; color: #fff; }

#landing{
	background: url('../img/lrskyline-small.jpg') center center no-repeat;
	-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; 
	background-size: cover; background-attachment: fixed; 
	overflow:hidden; margin-bottom: 0px;
	color:#fff;
	padding-top: 50px;
	padding-bottom: 50px
}

#landing h1 { font-family: 'Ubuntu', sans-serif; font-size: 7.5em; text-transform: uppercase; margin-bottom: .5em; }
#landing h2 { font-family: 'Ubuntu', sans-serif; font-size: 5em; text-transform: uppercase; }

#time-place {text-align: center;}
#time-place .time-place-inner { font-size: 1.5em; font-weight:300; display: inline-block; position: relative; top: -12px; margin-left: 10px; margin-right: 10px}
#time-place .fa {margin: 0px 10px 0px 0px; font-size: 1.5em; top: -3px;}
#time-place .sep { width: 1.3em; display: inline-block; }
#time-place hr { width: 11%; border: 0; border-top: 1px solid #FFF; display: inline-block; }

#announcement {margin-top: 20px; font-size: 1.5em; font-weight:bold;}

.item-container {padding: 20px; border:1px solid #d8d8d8; margin-left:10px; margin-right: 10px; margin-top: 20px; display:inline-block}

#sponsors-content a {color:inherit; text-decoration:none}
#sponsors-content .logo-row {margin-top: 10px; }
#sponsors-content .logo-frame { overflow:hidden; height: 250px; width: 250px; text-align:center}
#sponsors-content .logo-img { display:inline-block; height:100%; vertical-align:middle}
#sponsors-content  img {width: 250px;  max-height:250px; vertical-align:middle}
#sponsors-content .your-logo-here{border: 3px dashed black; text-align: center; height: 250px; width:250px; background-color:lightgray; padding:10px; background-clip: padding-box;}
#sponsors-content .level{ margin-bottom: 20px; font-weight: 500; text-align:center}
#sponsors-content .level span{ position:relative; top: -3px; font-size: 1.2em}
#sponsors-content .fa {margin-top: 2px; margin-left: 8px; margin-right: 8px; font-size: 1.5em;}
#sponsors-content .fa.Platinum {color:#E5E4E2; }
#sponsors-content .fa.Gold {color:#FFDF00; }
#sponsors-content .fa.Silver {color:#C0C0C0; }
#sponsors-content .fa.Bronze {color:#CD7F32; }

#team img {width:200px;}


/* Extra Small */
@media(max-width:767px){
	body {
    	font-size: 11px; /* 1.5x default size */
	}

	.header h1{  margin-left: 15px;}
	.header img {position: relative; top: -15px; width: 150px;}

	#time-place {text-align: inherit;}
	#time-place .time-place-inner {display:table; margin: 0 auto; position:inherit;}
	#time-place hr { width: 70%; display: block; margin-top: 5px; margin-bottom: 5px; }
	#time-place .sep { margin-top:5px; display: block; }

	.item-container {padding: 9px; margin-left:8px; margin-right: 0px}
	#sponsors-content .logo-frame { height: 125px; width: 125px; }
	#sponsors-content  img {width: 125px;  max-height:125px;}
	#sponsors-content .level{ margin-bottom: 16px; margin-left:-9px; margin-right:-9px;}
	#sponsors-content .level span{  top: -1px}
	#sponsors-content .fa {margin-top: 1px; margin-left: 5px; margin-right: 5px; }	
	#carousel-2014-pics {margin-top: 20px; }
	#team img {width:150px;}
}

/* Small */
@media(min-width:768px) and (max-width:991px){
	body {
    	font-size: 14px; /* 1.5x default size */
	}

	.header h1{  margin-left: 15px;}
	.header img {position: relative; top: -15px; width: 200px;}	

	.item-container {padding: 15px; margin-left:10px; margin-right: 0px}
	#sponsors-content .logo-frame { height: 200px; width: 200px; }
	#sponsors-content  img {width: 200px;  max-height:200px;}
	#sponsors-content .level{ margin-bottom: 20px; margin-left:-15px; margin-right:-15px;}
	#sponsors-content .level span{  top: -3px}
	#sponsors-content .fa {margin-top: 2px; margin-left: 8px; margin-right: 8px; }
	#carousel-2014-pics {margin-top: 20px; }
	#team img {width:200px;}
}

/* Medium */
@media(min-width:992px) and (max-width:1199px){
	body {
    	font-size: 16px; /* 1.5x default size */
	}
}

/* Large */
@media(min-width:1200px){
	body {
    	font-size: 16px; /* 1.5x default size */
	}
}
